
.zxgsbg_ico_msg_close{display: block;background:url(http://img.to8to.com/to8to_img/zxgsbg/zxgsbg_global.png) no-repeat;overflow: hidden;}
.zxgsbg_ico_msg_close{width: 10px; height: 10px;background-position: -139px -18px;}
.window_box_announcement{position: fixed;right: 0;bottom: 0;width: 288px;height: 108px;background-color: #fffdee;border: 1px solid #fff0d8;}
.window_box_announcement_title{position: relative;height: 24px;line-height:24px;color: #c4a180;text-indent: 15px;background-color: #fff0d8;}
.window_box_announcement_title .zxgsbg_ico_msg_close{position: absolute;top: 6px;right: 10px;}
.window_box_announcement .announcement_base{padding: 10px 15px;}
.window_box_announcement .announcement_base p{margin-bottom: 5px;color: #333;}
.window_box_announcement .announcement_base span{color: #666;}
.window_box_announcement .announcement_base span p{color: #666;}
.window_box_announcement .announcement_base a{color: #b37b44;}
.window_box_container .window_box_title{float: none;background-color: #fff;}
.window_box_container .window_box_title p {padding-top: 18px;font-size: 16px;height: 18px;line-height: 18px;text-align: center;color: #b37b44;}
.company_base .zxgsbg_pop_text{width: 398px;margin: 30px auto 0;color: #666;line-height: 18px;}
.company_base .mod_fbbox_code{margin: 20px 0;text-align: center;}
.company_base .mod_fbbox_code img{margin: 0 auto;}
.company_base .mod_fbbox_code p{margin-top: 5px;color: #666;}
.zxgsbg_pop_text{width: 398px;margin: 30px auto 0;color: #666;line-height: 18px;}
.zxgsbg_pop_text img{display: inline-block;}
