@charset "utf-8";
/**
 * 
 * CSS File,created by kevin.he, on 02.27 2015
 * 
 * 最后编辑人：kevin.he  (每次修改本文件)
 *
 * ie9下兼容样式，请分别加上ielt9,ielt8,ielt7等父级前缀
 *
 */

.container {
	font-family: "Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}

.container a {
	color: #666;
	text-decoration: none;
	outline: none;
}

.container a:hover {
	color: #940b13;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

/*-------------- 公用表单样式[[ ----------------*/     
.sec_top .sec_topl_ft .topl_ft_img,.index_ico_li,.index_ico_download,.index_hotNews_person_layer span,.index_hotNews_person_num i,.index_hotNews_person_num em,.index_rank_content i,
.ico_answer,.ico_help,.ico_zxb,.ico_location,.ico_crown,.ico_diamond1,.ico_heart,.ico_arrows, .sec_top_banner .banner_hd  div span,.zxgs_helpMe_flow li i,.index_zxgl .zxgl_tit_ico,.index_zxlc_list i,.index_zxlc_link,.index_ico_arrow,.index_ico_brand1,.index_ico_brand2 {
	background: url(../images/index_global.png) no-repeat;
	_background: url(http://img.to8to.com/to8to_img/index/index_global.gif) no-repeat;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.index_form .form_line div.index_check em,.free_booking div b,.free_booking ul li .fb_check em,.index_villageCase .index_module_header i {
	background: url(http://img.to8to.com/to8to_img/global.png) no-repeat;
	_background: url(http://img.to8to.com/to8to_img/global.gif) no-repeat;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.index_form {
	position: relative;
}

.index_form .form_hd {
	color: #666;
	font-size: 12px;
	margin-bottom: 20px;
}

.index_form .text {
	height: 18px;
	line-height: 18px;
	border: 1px solid #D8D8D8;
	padding: 8px 10px;
	width: 237px;
}

.index_form select {
	width: 260px;
	height: 36px;
	padding: 7px;
	border: 1px solid #D8D8D8;
	font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}

.index_form .select_l {
	float: left;
	width: 120px;
	height: 38px;
	margin-right: 13px;
	display: inline;
}

.index_form .select_r {
	float: left;
	width: 125px;
	height: 38px;
}

.ielt8 .index_form .select,.ielt8 .index_form .select_l,.ielt8 .index_form .select_r {
	height: 20px;
}

.index_form .label {
	position: absolute;
	color: #bcbcbc;
	top: 8px;
	left: 11px;
	cursor: text;
}

.index_form .form_line {
	padding-bottom: 10px;
	position: relative;
}

.index_form .form_line div.index_check {
	color: #ff6666;
	height: 14px;
	display: inline-block;
	line-height: 14px;
	margin-top: 2px;
}

.index_form .form_line div.index_check em {
	background-position: -51px -165px;
	margin-right: 3px;
	width: 13px;
	height: 13px;
	float: left;
	margin-top: 1px;
}

.ielt7 .index_form .form_line div.index_check em {
	margin-top: 0;
}

.index_form .form_btn {
	display: block;
	height: 44px;
	width: 260px;
	color: #FFF;
	background-color: #940b13;
	font-size: 14px;
	text-align: center;
	border: none;
	cursor: pointer;
	font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
	position: absolute;
	left: 20px;
	bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.index_form input.form_btn:hover {
	background-color: #e7691e
}

.index_form .height_auto {
	padding-bottom: 4px;
}

.ielt7 .index_form .height_auto {
	padding-bottom: 0;
}

.index_form .text_focus {
	border-color: #96d5b9;
}

.index_form .text_error {
	border-color: #ff6767;
}
/*-------------- 公用表单样式[[ ----------------*/
.index_ico_li {
	width: 5px;
	height: 5px;
	background-position: -98px 0;
	margin-right: 5px;
	overflow: hidden;
	float: left;
	margin-top: 9px;
}

.index_ico_download {
	width: 16px;
	height: 16px;
	background-position: -98px -8px;
	margin-left: 7px;
	line-height: 99em;
	overflow: hidden;
	_font-size: 0;
	vertical-align: middle;
}

/* 横幅广告 */
.index_ad_box {
	overflow: hidden;
	margin-top: 20px;
	height: 90px;
}

.index_ad_box a {
	float: left;
}

.index_ad_box .index_ad1 {
	margin-right: 20px;
}

.index_ad_box img {
	display: block;
	width: 600px;
	height: 90px;
}

.banner_loading, .zxgs_ceo_loading {
	position: absolute;
	top: 50%;
	left: 49%;
	width: 20px;
	height: 20px
}
/*-------------- 顶部焦点模块[[ ----------------*/
.sec_top {
	padding-top: 20px;
}

.sec_top img {
	display: block;
}

.sec_top .col_l {
	width: 279px;
	height: 409px;
	border: 1px solid #eee;
	border-right: 0;
	-moz-border-radius: 5px 0 0 5px;
      /* Gecko browsers */
	-webkit-border-radius: 5px 0 0 5px;
   /* Webkit browsers */
	border-radius: 5px 0 0 5px;
}

.sec_top .col_c {
	float: left;
	width: 900px;
	overflow: hidden;
	-moz-border-radius: 0 5px 5px 0;
      /* Gecko browsers */
	-webkit-border-radius: 0 5px 5px 0;
   /* Webkit browsers */
	border-radius: 0 5px 5px 0;
}

.sec_top .col_r {
	width: 298px;
	height: 409px;
	border: 1px solid #eee;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);*/
	-moz-border-radius: 5px;
      /* Gecko browsers */
	-webkit-border-radius: 5px;
   /* Webkit browsers */
	border-radius: 5px;
            /* W3C syntax */
}
/* banner[[ */
.index_banner {
	width: 900px;
	height: 410px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.index_banner .banner_slider li {
	width: 900px;
	height: 410px;
	overflow: hidden;
	position: absolute;
}

.index_banner .banner_slider li.on {
	display: none;
}

#index_slider li a img {
	width: 900px;
	height: 410px;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.index_banner .slider_mark {
	position: absolute;
	bottom: 10px;
	left: 50%;
	height: 10px;
}

.index_banner .slider_mark li {
	width: 10px;
	height: 10px;
	float: left;
	margin: 0 5px;
}

.index_banner .slider_ico {
	display: block;
	width: 10px;
	height: 10px;
	background-position: 0 -21px;
	overflow: hidden;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.index_banner .mark_dot_on .slider_ico {
	opacity: 100;
	filter: alpha(opacity=100);
}

.index_banner .bLeft,.index_banner .bRight {
	display: none;
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	top: 50%;
	margin-top: -25px;
	z-index: 2;
}

.index_banner .bLeft:hover,.index_banner .bRight:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.index_banner .bLeft {
	left: 0;
}

.index_banner .bRight {
	right: 0;
}

.index_banner .bLeft span,.index_banner .bRight span {
	display: block;
	width: 11px;
	height: 20px;
	margin: 15px auto;
	line-height: 99em;
	overflow: hidden;
	font-size: 0;
}

.index_banner .bLeft span {
	background-position: 0 0;
}

.index_banner .bRight span {
	background-position: -12px 0;
}

.index_banner:hover .bLeft,
.index_banner:hover .bRight {
	display: block;
}
/* banner]] */
.sec_top_banner {
	position: relative;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.sec_top .sec_topl_ft ul {
	padding: 15px 0;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #eee;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.sec_top .sec_topl_ft li {
	width: 205px;
	height: 100px;
	border-left: 1px solid #eee;
	float: left;
	overflow: hidden;
	margin-left: -1px;
}

.sec_top .sec_topl_ft li.last {
	border-right: 0;
}

.sec_top .sec_topl_ft li a {
	width: 205px;
	height: 100px;
}

.sec_top_brand {
	width: 279px;
}

.sec_top_brand1 {
	width: 280px;
	height: 113px;
	margin-top: -1px;
}

.sec_top_brand2,.sec_top_brand3 {
	position: relative;
	display: block;
	width: 261px;
	height: 55px;
	padding-left: 18px;
	padding-top: 9px;
}

.sec_top_brand2 p,.sec_top_brand3 p {
	color: #666;
	line-height: 26px;
}

.sec_top_brand2 em, .sec_top_brand3 em {
	position: absolute;
	top: 12px;
	right: 20px;
	font-family: "SimSun";
	font-size: 14px;
	color: #454857;
}

.index_ico_brand1,
.index_ico_brand2 {
	*display: block;
	text-indent: -999em;
}

.index_ico_brand1 {
	width: 130px;
	height: 26px;
	background-position: -41px -68px;
}

a.sec_top_brand2:hover .index_ico_brand1 {
	background-position: -177px -68px;
}

.index_ico_brand2 {
	width: 129px;
	height: 26px;
	background-position: -41px -96px;
}

a.sec_top_brand3:hover .index_ico_brand2 {
	background-position: -177px -96px;
}

a.sec_top_brand2:hover em,
a.sec_top_brand3:hover em {
	color: #940b13;
}

.sec_top_say {
	width: 240px;
	margin: 20px auto 0;
}

.sec_top_say_hd {
	position: relative;
	width: 240px;
	height: 22px;
	line-height: 22px;
	color: #999;
}

.sec_top_say_hd span {
	cursor: default;
}

.sec_top_say_hd .line {
	position: absolute;
	top: 12px;
	right: 0;
	width: 140px;
	height: 1px;
	overflow: hidden;
	background-color: #eee;
}

.sec_top_say_bd {
	position: relative;
	margin-top: 20px;
	height: 75px;
	overflow: hidden;
}

.sec_top_say_head {
	float: left;
	width: 50px;
	text-align: center;
}

.sec_top_say_head img {
	border-radius: 50%;
}

.sec_top_say_head p {
	width: 50px;
	margin-top: 3px;
}

.sec_top_say_content {
	float: right;
	width: 170px;
}

.sec_top_say_content em {
	display: block;
	width: 170px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 22px;
	color: #666;
}

.sec_top_say_content:hover em {
	940b13olor: #940b13;
}

.sec_top_say_content p {
	line-height: 16px;
	color: #999;
}

.sec_top_say_hd .on {
	color: #333;
}

.sec_top_say_bd_list {
	position: absolute;
	top: 0;
	left: -240px;
	width: 9999px;
}

.sec_top_say_bd_list li {
	float: left;
	width: 240px;
	overflow: hidden;
}

.sec_topr_bd {
	position: relative;
}

.sec_topr_tab {
	width: 298px;
	height: 58px;
	border-bottom: 2px solid #940b13;
}

.sec_topr_tab li {
	float: left;
	width: 74px;
	height: 58px;
	margin-left: -1px;
	border-left: 1px solid #eeefff;
}

.sec_topr_tab li a {
	display: block;
	width: 34px;
	height: 34px;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 12px 20px;
}

.sec_topr_tab1 {
	width: 330px;
	height: 58px;
}

.sec_topr_tab1 li {
	float: left;
	height: 58px;
	margin-left: 10px;
	border-left: 1px solid #eeefff;
	padding: 15px 5px 15px 15px
}

.sec_topr_tab1 li a {
	color: #666;
/*	display: block;
	width: 34px;
	height: 34px;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 12px 20px;
*/
}

.sec_topr_tab .on a {
	font-weight: bold;
	color: #940b13;
}

.index_ico_arrow {
	position: absolute;
	top: 60px;
	left: 31px;
	width: 13px;
	height: 5px;
	background-position: -262px 0;
}

.sec_topr_form {
	padding: 15px 20px 20px;
	height: 252px;
	overflow: hidden;
}

.sec_topr_form .form_line {
	padding-bottom: 20px;
}

.sec_topr_form .height_auto {
	padding-bottom: 2px;
}

.sec_topr_list {
	width: 260px;
	margin-left: 19px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

.sec_topr_list ul {
	width: 270px;
}

.sec_topr_list li {
	width: 270px;
	margin-bottom: 5px;
	color: #999;
}

.sec_topr_list li span {
	padding-right: 5px;
}
/*-------------- 顶部焦点模块]] ----------------*/

/* 装修流程模块 */
.index_zxlc:after {
	clear: both;
	content: "";
	display: table;
}

.index_zxlc .index_module_header {
	position: relative;
}

.index_zxlc .index_module_header_link {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #333;
}

.index_zxlc_link {
	width: 100px;
	height: 26px;
	background-position: -163px -32px;
}


.index_youshi_list {
	width: 1280px;
}
.index_youshi_list li {
	float: left;
	width:174px;
	height: 190px;
	text-align: center;
	font-size: 14px;
}
.index_youshi_list li a {
	display: block;
	height: 190px;
	border: 1px solid #eee;
	margin:0 0 0 -1px;
}

.index_youshi_list li a img{
	-moz-border-radius: 5px 0 0 5px;-webkit-border-radius: 5px 0 0 5px;border-radius: 5px 0 0 5px;
}


.index_499_list {
	width: 1220px;
}

.index_499_list li{
	padding:20px 0 0 0;
	height:410px;
}

.index_499_list li img{
	/*-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;	*/
}




.index_zxlc_list {
	width: 1280px;
}

.index_zxlc_list li {
	float: left;
	width: 118px;
	height: 118px;
	text-align: center;
	margin-right: 20px;
	font-size: 14px;
}

.index_zxlc_list li a {
	display: block;
	width: 117px;
	height: 117px;
	border: 1px solid #eee;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.index_zxlc_list li a:hover {
	color: #fff;
	border940b13solid #940b13;
    backgr940b13olor: #940b13;
}

.index_zxlc_list li i {
	display: block;
	height: 37px;
	margin: 26px auto 15px;
}

.index_zxlc_list .index_zxlc_ico1 {
	width: 44px;
	background-position: -41px -124px;
}

.index_zxlc_list .index_zxlc_ico2 {
	width: 36px;
	background-position: -87px -124px;
}

.index_zxlc_list .index_zxlc_ico3 {
	width: 34px;
	background-position: -125px -124px;
}

.index_zxlc_list .index_zxlc_ico4 {
	width: 36px;
	background-position: -161px -124px;
}

.index_zxlc_list .index_zxlc_ico5 {
	width: 36px;
	background-position: -199px -124px;
}

.index_zxlc_list .index_zxlc_ico6 {
	width: 38px;
	background-position: -237px -124px;
}

.index_zxlc_list .index_zxlc_ico7 {
	width: 36px;
	background-position: -277px -124px;
}

.index_zxlc_list .index_zxlc_ico8 {
	width: 36px;
	background-position: -315px -124px;
}

.index_zxlc_list .index_zxlc_ico9 {
	width: 34px;
	background-position: -353px -124px;
}

.index_zxlc_list li a:hover .index_zxlc_ico1 {
	background-position: -41px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico2 {
	background-position: -87px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico3 {
	background-position: -125px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico4 {
	background-position: -161px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico5 {
	background-position: -199px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico6 {
	background-position: -237px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico7 {
	background-position: -277px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico8 {
	background-position: -315px -163px;
}

.index_zxlc_list li a:hover .index_zxlc_ico9 {
	background-position: -353px -163px;
}

/* 效果图模块 */
.index_zxxgt:after {
	clear: both;
	content: "";
	display: table;
}

.index_module_header {
	height: 28px;
	margin: 50px 0 20px 0;
}

.index_module_header_tip {
	height: 10px;
	margin: 10px 0 0 0;
}

.index_module_header_tip em {
	float: left;
	color: #999;
}

.index_module_header span {
	float: left;
	height: 28px;
	font-size: 28px;
	color: #333;
	font-weight: 400;
	line-height: 28px
}

.index_module_header span a {
	color: #333
}

.index_module_header span a:hover {
	color: #333
}

.index_module_header em {
	float: left;
	color: #999;
	height: 14px;
	margin: 10px 0 0 10px;
	display: inline;
}

.index_module_header em b {
	font-weight: 400;
}

.index_xgt {
	position: relative;
	width: 1220px;
	height: 340px;
	overflow: hidden
}

.index_xgt a, .index_xgt a span , .index_xgt a p, .index_xgt a em {
	position: absolute;
	overflow: hidden;
}

.index_xgt a.index_xgt_one {
	width: 476px;
	height: 340px;
	left: 0;
	top: 0;
}

.index_xgt a.index_xgt_two {
	width: 476px;
	height: 160px;
	left: 496px;
	top: 0;
}

.index_xgt a.index_xgt_three {
	width: 228px;
	height: 160px;
	left: 496px;
	top: 180px;
}

.index_xgt a.index_xgt_four {
	width: 228px;
	height: 160px;
	left: 744px;
	top: 180px;
}

.index_xgt a.index_xgt_five {
	width: 228px;
	height: 340px;
	left: 992px;
	top: 0;
}

.index_xgt a span {
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .75;
}

.ielt9 .index_xgt a span {
	filter: alpha(opacity=75);
}

.index_xgt a.index_xgt_one span {
	width: 476px;
	height: 90px;
}

.index_xgt a.index_xgt_two span {
	width: 476px;
	height: 30px
}

.index_xgt a.index_xgt_three span {
	width: 228px;
	height: 30px
}

.index_xgt a.index_xgt_four span {
	width: 228px;
	height: 30px
}

.index_xgt a.index_xgt_five span {
	width: 228px;
	height: 30px
}

.index_xgt a p {
	left: 14px;
	color: #fff;
	bottom: 6px;
	width: 198px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.index_xgt a.index_xgt_one p {
	left: 20px;
	bottom: 44px;
	font-size: 24px;
	width: 430px;
	height: 26px;
	line-height: 26px
}

.index_xgt a.index_xgt_one em {
	left: 20px;
	bottom: 23px;
	color: #999;
	width: 430px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index_xgt a.index_xgt_two p {
	width: 430px
}

.index_xgt_gzxgt {
	width: 1220px;
	height: 140px;
	background: #fff;
	margin-top: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.index_xgt_gzxgt ul {
	margin-left: 2px;
}

.index_xgt_gzxgt ul li {
	float: left;
	width: 152px;
	height: 140px;
}

.index_xgt_gzxgt ul li a {
	float: left;
	width: 152px;
	height: 140px;
	text-align: center;
	color: #000
}

.index_xgt_gzxgt ul li a img {
	width: 80px;
	height: 80px;
	margin: 20px auto 0;
}

.index_xgt_gzxgt ul li a span {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 10px;
	width: 152px
}

/*-------------- 装修攻略[[ ----------------*/
.index_zxgl .index_zxgl_dairy {
	height: 168px;
}

.index_zxgl .zxgl_tit {
	width: 180px;
	height: 138px;
	float: left;
	text-align: center;
	position: relative;
	color: #FFF;
	font-size: 14px;
	padding-top: 42px;
}

.index_zxgl .zxgl_tit_ico {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
}

.index_zxgl .index_zxgl_dairy .zxgl_tit_ico {
	background-position: -41px -203px;
}

.index_zxgl .index_zxgl_learn .zxgl_tit_ico {
	background-position: -103px -203px;
}

.index_zxgl .zxgl_tit em {
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
	display: inline-block;
	border-width: 10px;
	border-color: transparent #FFF transparent transparent;
	border-style: dashed solid dashed dashed;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
}

.index_zxgl_dairy {
	margin-bottom: 20px;
}

.index_zxgl_dairy .zxgl_tit {
	backgr940b13olor: #940b13;
	height: 126px;
}

.index_zxgl_dairy .zxgl_tit a,.index_zxgl_learn .zxgl_tit a {
	color: #fff
}

.index_zxgl_dairy .zxgl_tit a:hover,.index_zxgl_learn .zxgl_tit a:hover {
	color: #fff
}

.index_zxgl_dairy .diary_list {
	float: left;
}

.index_zxgl_dairy .diary_list li {
	width: 240px;
	height: 168px;
	position: relative;
	margin-left: 20px;
	float: left;
	_display: inline;
	zoom: 1;
}

.index_zxgl_dairy .diary_list li a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.index_zxgl_dairy .diary_list li a:hover {
	color: #FFF;
}

.index_zxgl_dairy .diary_list .diary_title {
	display: block;
	padding: 0 15px;
	width: 210px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	background-color: rgba(0,0,0,0.75);
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 14px;
	z-index: 2;
}

.ielt8 .index_zxgl_dairy .diary_list .diary_title {
	padding-right: 0;
}

.index_zxgl_dairy .diary_list .diary_title_iebg {
	position: absolute;
	width: 240px;
	height: 30px;
	background-color: #000;
	filter: alpha(opacity=80);
	display: block\9;
	z-index: 1;
	left: 0;
	bottom: 0
}

.index_zxgl_dairy .diary_list .diary_title_iebg:not(sisi) {
	display: none;
}

.index_zxgl_dairy .diary_list .diary_status {
	display: block;
	width: 78px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	backgr940b13olor: #940b13;
	color: #FFF;
	position: absolute;
	right: 0;
	top: 0;
}

.index_zxgl .index_zxgl_learn {
	height: 180px;
}

.index_zxgl_learn .zxgl_tit em {
	border-color: transparent #F8F8F8 transparent transparent;
}

.index_zxgl_learn .zxgl_tit {
	background-color: #f18f16;
}

.index_zxgl_learn .learn_list {
	float: left;
	width: 1039px;
	height: 178px;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: #F8F8F8;
}

.index_zxgl_learn .learn_item {
	float: left;
	margin-left: 40px;
	width: 306px;
	_display: inline;
	zoom: 1;
}

.index_zxgl_learn .learn_item .item_hd {
	font-size: 18px;
	color: #1A332F;
	padding: 15px 0;
}

.index_zxgl_learn .learn_item .item_hd a {
	color: #333;
}

.index_zxgl_learn .learn_item .item_bd {
	height: 100px;
	padding-left: 110px;
}

.index_zxgl_learn .learn_item .item_img {
	float: left;
	margin-left: -110px;
}

.index_zxgl_learn .learn_item .item_bd ul li  a {
	padding: 2px 0;
	color: #333;
	display: inline-block;
	width: 177px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.index_zxgl_learn .learn_item .item_bd ul li a:h940b13olor: #940b13;
}
/*-------------- 装修攻略]] ----------------*/

/* 土巴兔装修榜 */
.index_rank {
height: 367px;
margin-top: 60px;
border-bottom: 1px solid #eee;
}

.index_rank .index_module_header {
position: relative;
}

.index_rank .index_module_header_link {
position: absolute;
top: 18px;
right: 10px;
color: #333;
}

.index_rank_l,.index_rank_r {
float: left;
display: inline;
height: 314px;
}

.index_rank_l {
width: 920px;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
}

.index_rank_img {
position: relative;
width: 920px;
height: 120px;
overflow: hidden
}

.index_rank_img div {
width: 562px;
height: 120px;
overflow: hidden;
position: absolute;
top: 0
}

.index_rank_img div.index_rank_img_1 {
left: 0;
z-index: 1
}

.index_rank_img div.index_rank_img_2 {
left: 536px;
z-index: 2
}

.index_rank_img div.index_rank_img_3 {
left: 728px;
z-index: 3
}

.index_rank_img .on {
width: 536px;
}

.index_rank_best1,.index_rank_best2 {
float: left;
height: 195px;
}

.index_rank_best1 {
width: 459px;
border-right: 1px solid #eee;
}

.index_rank_best2 {
width: 460px;
}

.index_rank_title {
font-size: 18px;
line-height: 22px;
color: #333;
margin: 18px 0 18px 20px;
}

.index_rank_best_logo {
float: left;
display: inline;
width: 108px;
height: 108px;
margin-left: 20px;
}

.index_rank_content {
position: relative;
float: left;
display: inline;
width: 209px;
height: 66px;
margin-left: 40px;
padding: 20px;
border: 1px solid #f6f6f6;
background-color: #fbfbfb;
}

.index_rank_content i {
position: absolute;
top: 34px;
left: -11px;
display: block;
width: 11px;
height: 21px;
background-position: -117px -14px;
}

.index_rank_content span {
display: block;
width: 209px;
font-size: 14px;
color: #333;
line-height: 14px;
margin-bottom: 17px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_rank_content p {
overflow: hidden;
margin-bottom: 2px;
color: #666;
line-height: 18px;
}

.index_rank_content p b {
font-weight: 400;
}

.index_rank_content p em {
float: left;
display: inline;
overflow: hidden;
width: 12px;
height: 12px;
margin: 3px 8px 0 0;
}

.index_rank_content p strong {
float: left;
width: 185px;
font-weight: normal;
}

.ielt7 .index_rank_content p em {
margin: 2px 5px 0 0;
}

.ico_answer {
background-position: -116px 0;
}

.ico_help {
background-position: -130px 0;
}

.index_rank_content p .ico_zxb {
width: 14px;
height: 17px;
margin: 0 6px 0 0;
background-position: -107px -40px;
}

.index_rank_content p .ico_location {
width: 15px;
height: 20px;
margin: 0 4px 0 0;
background-position: -124px -39px;
}

.ielt7 .index_rank_content p .ico_zxb,.ielt7 .index_rank_content p .ico_location {
margin: -2px 8px 0 0;
}

.index_rank_r {
width: 260px;
padding: 0 18px 0 19px;
border-right: 1px solid #eee;
}

.index_rank_tab {
width: 260px;
height: 38px;
margin-top: 20px;
border-bottom: 3px solid #ebebeb;
}

.index_rank_tab li {
float: left;
width: 130px;
text-align: center;
font-size: 18px;
color: #333;
}

.ielt7 .index_rank_tab li {
position: relative;
margin-bottom: -3px;
z-index: 10;
}

.index_rank_tab .on {
height: 38px;
border-bottom: 3px solid #01af63;
}

.index_rank_tab .on span {
color: #01af63;
}

.index_rank_tab li span {
display: inline-block;
height: 38px;
cursor: pointer;
}

.index_rank_credit,.index_rank_liveness {
width: 260px;
height: 252px;
overflow: hidden;
}

.index_rank_credit li,.index_rank_liveness li {
float: left;
width: 260px;
height: 57px;
padding: 14px 0 13px;
border-bottom: 1px dotted #e8e8e8;
overflow: hidden;
}

.index_rank_credit .no_b {
border-bottom: 0;
}

.index_rank_credit .num,.index_rank_liveness .num {
float: left;
width: 20px;
font-size: 24px;
font-family: 'Arial';
line-height: 57px;
color: #bbb;
}

.index_rank_credit .index_rank_credit_logo,.index_rank_liveness .index_rank_liveness_logo {
float: left;
display: inline;
width: 53px;
height: 53px;
margin-left: 10px;
border: 1px solid #eee;
}

.index_rank_credit .index_rank_credit_logo img,.index_rank_liveness .index_rank_liveness_logo img {
display: block;
}

.index_rank_credit_box {
float: left;
display: inline;
width: 150px;
margin-left: 20px;
}

.index_rank_credit_box a {
display: block;
width: 140px;
margin: 10px 0 12px;
font-size: 16px;
line-height: 16px;
color: #333;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_rank_credit_box p i {
float: left;
display: inline;
width: 14px;
height: 12px;
margin-right: 3px;
}

.ico_crown {
background-position: -41px -46px;
width: 13px;
height: 12px;
margin-left: 2px;
}

.ico_diamond1 {
background-position: -56px -46px;
}

.ico_heart {
background-position: -73px -46px;
width: 14px;
height: 13px;
margin-left: 2px;
*vertical-align: middle;
overflow: hidden;
}

.index_rank_credit_box .rank_credit_scroe {
float: left;
margin-top: -4px;
}

.index_rank_credit_box .rank_credit_scroe a {
color: #999;
font-size: 12px;
margin: 0;
}

.index_rank_credit_box .rank_credit_scroe a:h940b13olor: #940b13;
}

.index_rank_liveness .no_b {
border-bottom: 0;
}

.index_rank_liveness .index_rank_credit_box p {
color: #999999;
}

.index_rank_liveness .index_rank_credit_box a {
margin-bottom: 6px;
}
/* 小区案例 */
.index_villageCase {
height: 352px;
margin-top: 50px;
}

.index_villageCase_l,.index_villageCase_r {
float: left;
display: inline;
overflow: hidden;
}

.index_villageCase_l {
width: 880px;
margin-right: 40px;
height: 352px;
}

.index_villageCase .index_module_header {
position: relative;
margin: 0;
padding-bottom: 19px;
border-bottom: 1px solid #eee;
}

.index_villageCase .index_module_header a.right {
position: absolute;
top: 20px;
right: 10px;
color: #999;
}

.index_villageCase .index_module_header a.right:h940b13olor: #940b13;
}

.index_villageCase .index_module_header i {
position: absolute;
top: 0;
right: -10px;
width: 5px;
height: 9px;
margin: 5px 0 0 5px;
background-position: -31px -7px;
overflow: hidden;
}

.index_villageCase .index_module_header a.right:hover i {
background-position: -25px -7px;
}

.ielt7 .index_villageCase .index_module_header a i {
top: -2px;
}

.index_villageCase_list {
height: 280px;
margin-top: 18px;
}

.index_villageCase_list li {
position: relative;
float: left;
width: 280px;
height: 280px;
margin-right: 20px;
}

.index_villageCase_list .no_m {
margin-right: 0;
}

.index_villageCase_list img {
display: block;
width: 280px;
height: 280px;
}

.index_villageCase_list .index_villageCase_list_layer {
position: absolute;
left: 0;
bottom: 0;
width: 280px;
height: 30px;
line-height: 30px;
background-color: #000;
opacity: 0.75;
cursor: pointer;
}

.ielt9 .index_villageCase_list .index_villageCase_list_layer {
filter: alpha(opacity=75);
}

.index_villageCase_list_layer em {
margin-left: 10px;
font-size: 14px;
color: #fff;
}

.index_villageCase_list_layer span {
position: absolute;
top: 0;
right: 0;
margin-right: 10px;
color: #999;
}

.index_villageCase .index_villageCase_r {
width: 260px;
height: 350px;
padding: 0 19px;
border: 1px solid #eee;
}

.index_villageCase_tab {
width: 260px;
height: 38px;
margin-top: 20px;
border-bottom: 1px solid #ebebeb;
}

.index_villageCase_tab li {
float: left;
width: 130px;
margin-top: -1px;
text-align: center;
font-size: 18px;
color: #333;
}

.ielt7 .index_villageCase_tab li {
position: relative;
margin-bottom: -1px;
z-index: 10;
}

.index_villageCase_tab .on {
height: 38px;
border-bottom: 2px solid #01af63;
}

.index_villageCase_tab .on span {
color: #01af63;
}

.index_villageCase_tab li span {
display: inline-block;
height: 38px;
cursor: pointer;
}

.index_villageCase_stylist {
overflow: hidden;
}

.index_villageCase_stylist li {
float: left;
width: 260px;
height: 40px;
padding: 15px 0;
border-bottom: 1px dotted #e8e8e8;
}

.index_villageCase_stylist .no_b {
border-bottom: none;
}

.index_villageCase_stylist li .index_villageCase_stylist_head {
float: left;
display: inline;
width: 40px;
height: 40px;
margin-right: 20px;
}

.index_villageCase_stylist li img {
display: block;
border-radius: 50%;
}

.index_villageCase_stylist li .index_villageCase_stylist_data {
float: left;
width: 200px;
}

.index_villageCase_stylist_data span a {
color: #333;
}

.index_villageCase_stylist_data p {
color: #eee;
}

.index_villageCase_stylist_data .index_villageCase_stylist_data_text {
color: #999;
}

.index_villageCase_stylist_data p em {
margin-right: 10px;
}

.index_villageCase_stylist_data p a {
margin-left: 10px;
color: #999;
}

.index_villageCase_stylist_data p .case_l {
margin-left: 0;
}

.index_villageCase_majordomo li {
height: 113px;
}

.index_villageCase_majordomo .index_villageCase_stylist_data span {
font-size: 14px;
}

.index_villageCase_majordomo a {
display: block;
width: 200px;
color: #999;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.index_villageCase_majordomo span a {
color: #333;
}

.index_villageCase_majordomo .index_villageCase_stylist_data p {
margin-top: 10px;
}

.index_villageCase_majordomo span.mdm_sjs {
font-size: 12px;
display: block;
width: 200px;
color: #999;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

/* 热点新闻 */
.index_hotNews {
height: 402px;
margin-top: 50px;
}

.index_hotNews .index_module_header,.index_jc .index_module_header,.index_subjuect .index_module_header,.index_rank .index_module_header {
margin: 0;
padding-bottom: 19px;
border-bottom: 1px solid #eee;
}

.index_jc .no_border {
border: 0;
}

.index_hotNews_person {
position: relative;
float: left;
display: inline;
width: 411px;
height: 347px;
cursor: pointer;
}

.index_hotNews_person .index_hotNews_person_img {
margin-left: 91px;
width: 320px;
height: 347px;
overflow: hidden;
position: relative;
margin-top: -1px;
}

.index_hotNews_person img {
display: block;
}

.index_hotNews_person_layer {
position: absolute;
top: 58px;
left: 0;
width: 204px;
height: 184px;
padding: 18px;
color: #fff;
backgr940b13olor: #940b13;
opacity: 0.85;
}

.ielt9 .index_hotNews_person_layer {
filter: alpha(opacity=85);
}

.index_hotNews_person_layer span {
display: block;
width: 97px;
height: 40px;
margin-top: 6px;
background-position: 0 0;
}

.index_hotNews_person_num {
position: absolute;
top: 22px;
right: 21px;
}

.index_hotNews_person_num i {
float: left;
width: 19px;
height: 11px;
margin-right: 2px;
background-position: -1px -62px;
}

.index_hotNews_person_num em {
float: left;
display: inline;
width: 9px;
height: 11px;
margin: 1px -2px 0 0;
}

.index_hotNews_person_num .index_hotNews_person_num0 {
background-position: -22px -209px;
}

.index_hotNews_person_num .index_hotNews_person_num1 {
background-position: -22px -191px;
}

.index_hotNews_person_num .index_hotNews_person_num2 {
background-position: -21px -173px;
}

.index_hotNews_person_num .index_hotNews_person_num3 {
background-position: -21px -155px;
}

.index_hotNews_person_num .index_hotNews_person_num4 {
background-position: -21px -137px;
}

.index_hotNews_person_num .index_hotNews_person_num5 {
background-position: -21px -119px;
}

.index_hotNews_person_num .index_hotNews_person_num6 {
background-position: -22px -100px;
}

.index_hotNews_person_num .index_hotNews_person_num7 {
background-position: -23px -83px;
}

.index_hotNews_person_num .index_hotNews_person_num8 {
background-position: -22px -63px;
}

.index_hotNews_person_num .index_hotNews_person_num9 {
background-position: -21px -46px;
}

.index_hotNews_person_layer h3 {
padding-top: 25px;
font-size: 28px;
font-weight: bold;
line-height: 28px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.index_hotNews_person_layer p {
width: 204px;
margin-top: 6px;
overflow: hidden;
}

.index_hotNews_person_layer .index_hotNews_person_text {
height: 57px;
}

.index_hotNews_list {
float: left;
display: inline;
width: 431px;
height: 331px;
margin-top: 15px;
margin-left: 38px;
}

.index_hotNews_list li {
float: left;
width: 431px;
height: 48px;
padding: 12px 0 20px;
border-bottom: 1px dotted #e8e8e8;
}

.index_hotNews_list .no_b {
border-bottom: none;
}

.index_hotNews_list li a {
display: block;
width: 431px;
font-size: 18px;
line-height: 34px;
color: #333;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_hotNews_list li p {
width: 431px;
line-height: 14px;
color: #999;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_hotNews_box {
float: left;
width: 258px;
height: 346px;
margin-left: 40px;
padding: 0 20px;
border: 1px solid #eee;
border-top: none;
overflow: hidden;
}

.index_hotNews_tab {
width: 258px;
height: 38px;
margin-top: 20px;
border-bottom: 1px solid #ebebeb;
}

.index_hotNews_tab li {
float: left;
width: 129px;
margin-top: -1px;
text-align: center;
font-size: 18px;
color: #333;
}

.ielt7 .index_hotNews_tab li {
position: relative;
margin-bottom: -1px;
z-index: 10;
}

.index_hotNews_tab .on {
height: 38px;
border-bottom: 2px solid #01af63;
}

.index_hotNews_tab .on span {
color: #01af63;
}

.index_hotNews_tab li span {
display: inline-block;
height: 38px;
cursor: pointer;
}

.index_hotNews_title {
width: 258px;
height: 40px;
line-height: 40px;
border-bottom: 1px solid #eee;
}

.index_hotNews_title span {
float: left;
display: inline;
margin-left: 1px;
color: #999;
}

.index_hotNews_row1 {
width: 80px;
}

.index_hotNews_row2 {
width: 95px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_hotNews_info {
overflow: hidden;
height: 245px;
}

.index_hotNews_info li {
float: left;
width: 258px;
height: 40px;
line-height: 40px;
border-bottom: 1px dotted #e8e8e8;
}

.index_hotNews_info .no_b {
border-bottom: none;
}

.index_hotNews_info li a {
display: block;
width: 258px;
cursor: pointer;
color: #666;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_hotNews_info li a:hover 940b13olor: #940b13;
}

.index_hotNews_info li i {
font-style: normal;
margin-right: 3px;
}

.index_hotNews_info li span {
float: left;
display: inline;
margin-left: 1px;
color: #666;
}

.index_hotNews_content1 .index_hotNews_info {
height: 285px;
}

.index_hotNews_content1 .index_hotNews_info li {
height: 47px;
line-height: 47px;
}

/* 家居建材 */
.index_jc {
overflow: hidden;
margin-top: 50px;
}

.index_jc_tab {
height: 46px;
}

.index_jc_tab a {
float: left;
padding: 15px 20px;
font-size: 16px;
line-height: 16px;
color: #333;
}

.index_jc_tab a:hover {
color: #333
}

.index_jc_tab a.on:hover {
color: #fff
}

.index_jc_tab .on {
color: #fff;
background-color: #01af63;
}

.index_jc_list {
overflow: hidden;
width: 1218px;
margin-top: 20px;
border-top: 1px dotted #e8e8e8;
border-left: 1px dotted #e8e8e8;
}

.index_jc_list li {
float: left;
width: 202px;
height: 100px;
text-align: center;
line-height: 100px;
font-size: 16px;
color: #999;
border-right: 1px dotted #e8e8e8;
border-bottom: 1px dotted #e8e8e8;
}

.index_jc_list li img {
display: block;
margin: 21px auto 0;
}

.index_jc_list2 {
overflow: hidden;
width: 1218px;
margin-top: 20px;
border-top: 1px dotted #e8e8e8;
border-left: 1px dotted #e8e8e8;
}

.index_jc_list2 li {
float: left;
width: 202px;
height: 202px;
text-align: center;
font-size: 14px;
line-height: 14px;
border-right: 1px dotted #e8e8e8;
border-bottom: 1px dotted #e8e8e8;
background-color: #fbfbfb;
}

.index_jc_list2 a span {
color: #333;
}

.index_jc_list2 li a:hover 940b13olor: #940b13
}

.index_jc_list2 li img {
display: block;
margin: 44px auto 30px;
}

.index_jc_list2 .last {
display: none;
}

/* 展会专题 */
.index_subject {
width: 1220px;
overflow: hidden;
}

.index_subject_box {
width: 1220px;
overflow: hidden;
height: 308px;
}

.index_subject_sliderbox {
height: 308px;
margin-top: 10px;
overflow: hidden;
width: 99999px
}

.index_subject_sliderbox ul {
overflow: hidden;
height: 308px;
float: left;
}

.index_subject_sliderbox li {
float: left;
display: inline;
width: 186px;
height: 308px;
margin-right: 20px;
}

.index_subject_sliderbox .no_m {
margin-right: 0;
}

/* 装修公司 */
.ico_diamond,.level_ico {
background: url(http://img.to8to.com/decorate_gallery/images/png/zgs_global.png?201410210040) no-repeat;
_background: url(http://img.to8to.com/decorate_gallery/images/gif/zgs_global.gif?201410210040) no-repeat;
overflow: hidden;
display: inline-block;
}

.ico_diamond {
height: 15px;
width: 17px;
background-position: -149px -70px;
margin-left: 2px;
*vertical-align: middle;
}

.level_ico {
height: 16px;
width: 16px;
margin-right: 6px;
vertical-align: -3px;
*vertical-align: middle;
}

.level_ico1 {
background-position: -172px -1px;
}

.level_ico2 {
background-position: -131px -1px;
}

.level_ico3 {
background-position: -192px -1px;
}

.level_ico4 {
background-position: -131px -18px;
}

.level_ico5 {
background-position: -151px -1px;
}

.level_ico6 {
background-position: -151px -18px;
}

.level_ico7 {
background-position: -172px -18px;
}

.level_ico8 {
background-position: -192px -18px;
}

.level_ico1_no {
background-position: -34px -123px;
}

.level_ico2_no {
background-position: -51px -123px;
}

.level_ico3_no {
background-position: -17px -123px;
}

.level_ico4_no {
background-position: -68px -123px;
}

.level_ico5_no {
background-position: -85px -123px;
}

.level_ico6_no {
background-position: -102px -123px;
}

.level_ico7_no {
background-position: -119px -123px;
}

.level_ico8_no {
background-position: -136px -123px;
}

.index_zxgs {
margin-top: 27px;
}

.index_zxgs .zxgs_hd {
padding: 16px 0;
border-bottom: 1px solid #EEEEEE;
}

.index_zxgs .zxgs_hd li {
float: left;
margin-right: 42px;
}

.index_zxgs .zxgs_hd li a {
font-size: 24px;
display: block;
padding: ;color: #333;
}

.index_zxgs .zxgs_hd li.on a {
color: #01AF63;
}

.index_zxgs .zxgs_bdl {
width: 918px;
float: left;
}

.ielt7 .index_zxgs .zxgs_bdl {
overflow: hidden;
}

.index_zxgs .zxgs_bdr {
width: 300px;
float: right;
border-left: 1px solid #EEE;
}

.index_zxgs .zxgs_info {
border-width: 0 0 1px 1px;
border-style: solid;
border-color: #EEE;
}

.index_zxgs .zxgs_info .logo_list {
width: 918px;
height: 125px;
overflow: hidden;
border-bottom: 1px solid #EEEEEE;
}

.index_zxgs .zxgs_info .logo_list li {
float: left;
border-width: 0 1px 1px 0;
border-style: dotted;
border-color: #E8E8E8;
width: 152px;
height: 62px;
}

.index_zxgs .zxgs_info .logo_list a {
display: block;
width: 152px;
height: 62px;
}

.index_zxgs .zxgs_info .logo_list a.no_ad {
cursor: default;
}

.index_zxgs .zxgs_info .logo_list a img {
display: block;
margin: 4px auto 0;
}

.index_zxgs .zxgs_info .logo_list .on a {
border: 2px solid #01AF63;
margin: -1px;
position: absolute;
height: 60px;
overflow: hidden;
width: 150px;
}

.index_zxgs .zxgs_info .logo_list .on a img {
margin-top: 3px;
}

.index_zxgs .zxgs_info .zxgs_detail {
background-color: #F8F8F8;
padding: 30px 30px 30px 214px;
color: #333;
height: 291px;
position: relative;
}

.zxgs_loading {
position: absolute;
left: 47%;
top: 39%;
width: 20px;
height: 20px
}

.index_zxgs .zxgs_info .zxgs_detail .zxgs_koubei {
position: absolute;
width: 128px;
height: 88px;
border-left: 1px dotted #e6e6e6;
right: 58px;
top: 31px
}

.index_zxgs .zxgs_info .zxgs_detail .zxgs_koubei span {
float: left;
width: 100%;
height: 16px;
line-height: 16px;
text-align: center;
font-size: 14px;
color: #666;
margin-top: 27px;
display: inline
}

.index_zxgs .zxgs_info .zxgs_detail .zxgs_koubei em {
float: left;
width: 100%;
height: 32px;
line-height: 32px;
color: #f26f20;
font-family: Arial;
text-align: center;
font-size: 26px;
margin-top: 4px;
}

.index_zxgs .zxgs_info .zxgs_detail .zxgs_koubei a {
color: #f26f20
}

.index_zxgs .zxgs_info .zxgs_detail_hd {
float: left;
margin-left: -184px;
position: relative;
*position: absolute;
width: 150px;
}
/* .index_zxgs .zxgs_info .zxgs_score{text-align: center;color: #999;margin-top: 20px;}
.index_zxgs .zxgs_info .score_wrap{display: block;font-size: 24px;color: #f26f20; position: relative; left:45px; width: 64px;*left: 0;}
.index_zxgs .zxgs_info .score_wrap em{width:0;height:0;overflow:hidden;font-size:0;display:inline-block;border-width:4px;border-color:#333 transparent transparent transparent;border-style:solid dashed dashed dashed;margin-left: 9px;vertical-align: middle;}
.index_zxgs .zxgs_info .score_window{position:absolute; width:196px; height:91px; border:1px solid #d9d9d9; background-color:#fff; z-index:3;margin-left: -30px; display: none;*margin-left: -100px;}
.index_zxgs .zxgs_info .score_window p,.index_zxgs .zxgs_info .zxgs_detail_bd .zxgs_address em{background: url(http://img.to8to.com/decorate_gallery/images/png/zgs_index.png?20140920)no-repeat;_background: url(http://img.to8to.com/decorate_gallery/images/gif/zgs_index.gif) no-repeat;}
.index_zxgs .zxgs_info .score_window p{position:absolute; width:8px; height:5px; background-position:-34px -10px; top:-5px; z-index:5; left:92px}
.index_zxgs .zxgs_info .score_window dl{margin-top:6px}
.index_zxgs .zxgs_info .score_window dl dd{float:left; width:170px; margin:8px 0 0 15px; display:inline; height:16px; color:#666}
.index_zxgs .zxgs_info .score_window dl dd em{color:#999;display: inline-block;width: 32px;}
.index_zxgs .zxgs_info .score_window dl dd b{width:56px; height:16px; background-color:#d43c1e; color:#fff; padding:2px 5px 2px 4px; font-weight:normal;margin-right: 5px;}
.index_zxgs .zxgs_info .score_window dl dd b.zsw_g{background-color:#22ab5a}
.index_zxgs .zxgs_info .score_window dl dd .window_data{width: 45px;text-align: center;display: inline-block;} */
.index_zxgs .zxgs_info .zxgs_detail_bd .zxgs_address em {
background: url(http://img.to8to.com/decorate_gallery/images/png/zgs_index.png?20140920)no-repeat;
_background: url(http://img.to8to.com/decorate_gallery/images/gif/zgs_index.gif) no-repeat;
}

.index_zxgs .zxgs_info .zxgs_detail_bd {
margin-top: -8px;
overflow: hidden;
}

.index_zxgs .zxgs_info .zxgs_detail_bd .zxgs_address {
line-height: 14px;
color: #666;
width: 512px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.index_zxgs .zxgs_info .zxgs_detail_bd .zxgs_address em {
display: inline-block;
width: 10px;
height: 13px;
background-position: -43px -10px;
position: relative;
; top: 2px;
margin-right: 5px;
}

.index_zxgs .zxgs_info .zxgs_btn {
position: absolute;
color: #999;
left: 21px;
text-align: center;
top: 180px
}

.ielt7 .index_zxgs .zxgs_info .zxgs_btn {
top: 178px
}

.index_zxgs .zxgs_info .zxgs_zx {
margin-top: 62px;
width: 150px;
text-align: center
}

.index_zxgs .zxgs_info .zxgs_zx span {
color: #f26f20
}

.index_zxgs .zxgs_info .zxgs_btn_book {
display: block;
width: 108px;
height: 32px;
line-height: 32px;
text-align: center;
color: #FFF;
font-size: 14px;
background-color: #F25717;
}

.index_zxgs .zxgs_info .zxgs_btn_book:hover {
color: #FFF;
}

.index_zxgs .zxgs_info .zxgs_name {
*zoom: 1;
height: 36px;
}

.index_zxgs .zxgs_info .zxgs_name:after {
display: block;
clear: both;
content: "\0020";
visibility: hidden;
height: 0;
}

.index_zxgs .zxgs_info .zxgs_name span {
float: left;
font-size: 24px;
}

.index_zxgs .zxgs_info .zxgs_name em {
float: left;
margin: 16px 0 0 10px;
height: 14px;
line-height: 14px;
color: #666
}

.index_zxgs .zxgs_info .zxgs_diamond {
float: left;
margin-left: 10px;
}

.ielt8 .index_zxgs .zxgs_info .zxgs_diamond {
margin-top: 5px;
}

.index_zxgs .zxgs_info .zxgs_level,.index_zxgs .zxgs_info .zxgs_data .data_item {
color: #999;
}

.index_zxgs .zxgs_info .zxgs_level {
height: 16px;
line-height: 14px;
margin-top: 15px;
margin-bottom: 16px;
overflow: hidden;
}

.index_zxgs .zxgs_info .zxgs_level em {
display: inline-block;
color: #666;
margin-right: 5px;
}

.index_zxgs .zxgs_info .zxgs_level a:hove940b13olor: #940b13;
}

.index_zxgs .zxgs_info .zxgs_data {
height: 40px;
}

.index_zxgs .zxgs_info .zxgs_data li {
float: left;
margin-right: 40px;
}

.index_zxgs .zxgs_info .zxgs_data li a:hover940b13olor: #940b13
}

.index_zxgs .zxgs_info .zxgs_data .data_num {
font-size: 14px;
}

.index_zxgs .zxgs_info .zxgs_des {
border-top: 1px dotted #E8E8E8;
color: #666;
padding-top: 14px;
margin-top: 15px;
}

.index_zxgs .zxgs_info .zxgs_font {
height: 36px;
overflow: hidden;
}

.index_zxgs .zxgs_info .zxgs_font a {
color: #01AF63;
}

.index_zxgs .zxgs_info .zxgs_font a:h940b13olor: #940b13;
}

.index_zxgs .zxgs_info .zxgs_img {
margin-top: 17px;
}

.index_zxgs .zxgs_info .zxgs_img a {
display: block;
float: left;
margin-right: 20px;
position: relative;
height: 105px;
overflow: hidden;
zoom: 1;
width: 150px;
}

.index_zxgs .zxgs_info .zxgs_img .zxgs_img_tit {
display: block;
height: 30px;
line-height: 30px;
color: #FFF;
position: absolute;
left: 0;
bottom: 0;
background-color: rgba(0,0,0,0.75);
width: 130px;
padding: 0 10px;
z-index: 2;
cursor: pointer;
}

.index_zxgs .zxgs_info .zxgs_img .zxgs_img_tit em {
float: right;
color: #999999;
}

.index_zxgs .zxgs_info .zxgs_img .zxgs_img_tit span {
display: inline-block;
width: 100px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.index_zxgs .zxgs_info .zxgs_img .zxgx_imgie {
display: block;
position: absolute;
width: 150px;
height: 30px;
background-color: #000;
opacity: .75;
filter: alpha(opacity=75);
z-index: 1;
display: none;
left: 0;
bottom: 0;
display: block\9;
}

.index_zxgs .zxgs_info .zxgs_img .zxgx_imgie:not(sisi) {
display: none;
}

/* 装修公司ceo面对面 */
.zxgs_ceo {
width: 920px;
position: relative;
height: 478px
}

.zxgs_ceo_item {
float: left;
display: inline;
width: 428px;
height: 136px;
margin-top: 20px;
margin-right: 20px;
border: 1px solid #e8e8e8;
overflow: hidden;
}

.zxgs_info .no_m {
margin-right: 0;
}

.zxgs_ceo_img {
display: block;
float: left;
overflow: hidden;
width: 136px;
height: 138px;
position: relative;
margin-top: -1px;
margin-left: -1px;
}

.zxgs_ceo_txt {
float: left;
overflow: hidden;
margin-left: 13px;
width: 270px;
height: 136px;
}

.zxgs_ceo_txt .zxgs_ceo_name {
display: block;
margin: 10px 0px;
font-size: 14px;
color: #333;
}

.zxgs_ceo_txt_title {
margin-bottom: 10px;
color: #999;
}

.zxgs_ceo_txt_desc {
overflow: hidden;
width: 270px;
height: 60px;
line-height: 20px;
color: #666;
}

.index_zxgs .zxgs_bdr {
float: right;
width: 260px;
height: 477px;
padding: 0 20px;
border: 1px solid #eee;
border-top: 0;
overflow: hidden;
}

.zxgs_tab {
width: 260px;
height: 38px;
margin-top: 20px;
border-bottom: 1px solid #ebebeb;
}

.zxgs_tab li {
float: left;
width: 130px;
margin-top: -1px;
text-align: center;
font-size: 18px;
color: #333;
}

.ielt7 .zxgs_tab li {
position: relative;
margin-bottom: -1px;
z-index: 10;
}

.zxgs_tab .on {
height: 38px;
border-bottom: 2px solid #01af63;
}

.zxgs_tab .on span {
color: #01af63;
}

.zxgs_tab li span {
display: inline-block;
height: 38px;
cursor: pointer;
}

.zxgs_newSign {
overflow: hidden;
}

.zxgs_newSign li {
float: left;
width: 260px;
height: 57px;
padding: 23px 0 22px;
border-bottom: 1px dotted #e8e8e8;
}

.zxgs_newSign .no_b {
border-bottom: none;
}

.zxgs_newSign li .zxgs_newSign_head {
float: left;
display: inline;
width: 53px;
height: 53px;
margin-right: 20px;
border: 2px solid #eee;
}

.zxgs_newSign li img {
display: block;
}

.zxgs_newSign li .zxgs_newSign_data {
float: left;
width: 160px;
}

.zxgs_newSign_data a {
font-size: 14px;
line-height: 14px;
color: #333;
}

.zxgs_newSign_data span {
color: #333;
}

.zxgs_newSign_data p {
overflow: hidden;
width: 160px;
line-height: 20px;
color: #999;
text-overflow: ellipsis;
white-space: nowrap;
}

.zxgs_helpMe {
height: 375px
}

.ielt8 .zxgs_helpMe {
height: 400px
}

.zxgs_helpMe .form_btn {
left: 0;
bottom: 0;
}

.zxgs_helpMe_txt {
font-size: 14px;
line-height: 14px;
color: #333;
margin: 20px 0;
}

.zxgs_helpMe_txt2 {
font-size: 16px;
line-height: 940b13olor: #940b13;
text-align: center;
margin: 20px 0 15px;
}

.zxgs_helpMe_flow {
height: 82px;
padding-top: 10px;
border-bottom: 1px dotted #e8e8e8;
}

.zxgs_helpMe_flow li {
float: left;
width: 40px;
height: 60px;
line-height: 22px;
text-align: center;
color: #333;
}

.zxgs_helpMe_flow .zxgs_helpMe_flow_li {
width: 10px;
margin: 0 11px;
}

.zxgs_helpMe_flow li i {
display: block;
height: 32px;
margin: 0 auto;
}

.zxgs_helpMe_flow li i.i_img1 {
background-position: -143px 0;
width: 30px;
}

.zxgs_helpMe_flow li i.i_img2 {
background-position: -174px 0;
width: 28px;
}

.zxgs_helpMe_flow li i.i_img3 {
background-position: -203px 0;
width: 30px;
}

.zxgs_helpMe_flow li i.i_img4 {
background-position: -234px 0;
width: 26px;
}

.ico_arrows {
width: 10px;
height: 19px;
margin-top: 4px;
background-position: -93px -44px;
}

/* 发标弹窗 [[ */
.apply_fail span.as_fail {
overflow: hidden；;
background: url(http://img.to8to.com/decorate_gallery/images/png/xgt_meitu.png?20140920) no-repeat;
_background: url(http://img.to8to.com/decorate_gallery/images/gif/xgt_meitu.gif) no-repeat;
}

.window_box_container .apply_fail {
position: relative;
display: inline;
float: left;
width: 380px;
height: 60px;
margin: 40px 0 0 60px;
}

.apply_fail span.as_fail {
float: left;
width: 60px;
height: 60px;
background-position: -60px -92px;
}

.apply_fail span.as_fail {
background-position: -120px -92px;
}

.window_box_container .apply_fail strong {
position: absolute;
top: 8px;
left: 81px;
height: 40px;
font-size: 18px;
font-weight: 400;
line-height: 20px;
color: #333;
}
/* 发标弹窗 ]] */
/* 弹窗  */
.free_booking {
width: 350px;
float: left;
margin: 27px 0 0 60px;
display: inline
}

.free_booking ul li {
width: 350px;
margin-top: 10px;
float: left;
display: inline;
height: auto;
position: relative
}

.free_booking ul li span.fb_title {
width: 60px;
height: 34px;
display: inline-block;
line-height: 34px;
vertical-align: top
}

.free_booking ul li input {
width: 190px;
height: 32px;
line-height: 32px;
border: 1px solid #ccc;
padding-left: 8px;
color: #333
}

.input_x {
border-radius: 5px;
height: 32px;
width: 190px;
margin-right: 3px;
padding-left: 8px;
-webkit-appearance: none;
text-algin: right
}

.free_booking ul li select {
padding: 8px 0 8px 9px;
}

.ielt8 .free_booking ul li select {
margin-top: 5px
}

.ielt8 .free_booking ul li.free_booking_city select {
width: 196px;
margin-left: -5px;
}

.free_booking ul li select.fb_province {
width: 90px;
margin-right: 10px
}

.free_booking ul li select.fb_city {
width: 100px;
}

.free_booking ul li select.fb_homeStyle {
width: 200px
}

.free_booking ul li.have_m b {
position: absolute;
top: 8px;
right: 98px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300
}

.free_booking ul li textarea {
width: 278px;
height: 69px;
resize: none;
border: 1px solid #ccc
}

.free_booking div.fb_upload {
margin-top: 20px;
height: 36px;
position: relative;
display: inline-block;
margin-left: 60px
}

.ielt8 .free_booking div.fb_upload {
display: inline;
zoom: 1
}

.free_booking div.fb_upload input {
width: 64px;
height: 36px;
border: 0;
background-color: #f36f20;
color: #fff;
line-height: 36px;
font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
float: left;
cursor: pointer
}

.free_booking div.fb_upload em {
margin-left: 10px;
color: #f36f20;
height: 36px;
line-height: 36px;
float: left;
display: inline
}

.free_booking div.fb_upload input:hover {
background-color: #ccc;
}

.free_booking div.fb_description {
margin: 20px 0 0 60px
}

.ielt8 .free_booking div.fb_description {
height: 56px;
}

.free_booking div.fb_description b {
background-position: -36px -165px;
width: 14px;
height: 14px;
float: left;
margin: 2px auto 40px -18px;
}

.free_booking div.fb_description em {
color: #999;
float: left;
width: 251px;
display: inline;
text-align: justify
}

.free_booking ul li .fb_check {
height: 14px;
color: #ff6666;
width: 200px;
display: inline-block;
margin: 4px 0 0 60px;
}

.free_booking ul li .fb_check em {
width: 13px;
height: 13px;
margin: 3px 3px 0 0;
background-position: -51px -165px;
float: left;
}

.yuanjiao {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

