@charset "utf-8";
/**
 *
 * template: 效果图-美图
 *
 * CSS File,created by dean, on 07.28 2014
 * 
 * 最后编辑人：dean  (每次修改本文件)
 *
 * ie9下兼容样式，请分别加上ielt9,ielt8,ielt7等父级前缀
 * 
 * 窄版Body增加Class:  narrow_985
 *
 * 合并Global时候请注意冲突样式
 *
 */

/* xiaoguotu_meitu common style */
body,a{color:#666; text-decoration: none; outline: none; }
.xgt_select_type{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
span.nav_arrow_right,span.nav_close, .xgt_select_type dl a.xgt_nav_showMore, .xgt_select_type dl a.showMore_down, .xgt_meitu_pinterest .xmp_container .item span a.meitu_collection em, .freeQuote_box_content .fq_description em{background:url(/img/decorate_gallery/images/png/global.png?201409200312) no-repeat; _background:url(/img/decorate_gallery/images/gif/global.gif?201409200312) no-repeat; _overflow:hidden}
.ielt8 span.nav_arrow_right, .ielt8 .xgt_meitu_nav ul li.nav_type_select a h6,span.nav_arrow_right, .ielt7 .xgt_meitu_pinterest .xmp_container .item span a.meitu_collection em{display:inline; zoom:1}

.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_13, .xgt_meitu_searchNone b, .xgt_topic .topic_item a.topic_item_intro .tii_vol, .xgt_topic .topic_item a.topic_item_intro span.tii_tTwo, .xdb_title em , .xdb_content_layer .xdb_content .xdbc_description span, .xdb_content_layer .xdb_content .xdbc_description span.sy_right, .xgt_topic .topic_item a.topic_item_intro .tii_vol b,
.xdbc_main_content p span{ background:url(/img/decorate_gallery/images/png/xgt_meitu.png?20140920) no-repeat; _background:url(/img/decorate_gallery/images/gif/xgt_meitu.gif) no-repeat;}
.xgt_select_type dl dt{ font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; background: #f8f8f8}
/* xiaoguotu_meitu main sytle */
.xgt_meitu_nav{padding:11px 0 13px 0; height:20px ; border-bottom:1px solid #e8e8e8; font-weight: normal;}
.ielt7 .xgt_meitu_nav{padding:10px 0 8px 0;}
.xgt_meitu_nav ul{margin-left:23px;}

.xgt_meitu_nav ul li, .xdbc_nav ul li{float:left; margin-right:12px; display:inline; height:20px;}
.xgt_meitu_nav ul li.nav_type_select{margin-right:0;}
.xdbc_nav ul li.has_arrow a, .xgt_meitu_nav ul li.has_arrow a{float: left; height: 20px; line-height: 20px; text-decoration: none}
.xgt_topic_nav{border-bottom: 0; }
.xgt_topic_nav ul{margin-left:12px;}
.xgt_topic_nav ul a{color: #333}
.xdbc_nav ul li.has_arrow a:hover, .xgt_meitu_nav ul li.has_arrow a:hover{color: #f25618}
.xgt_meitu_nav ul li.nav_type_select a{border:1px solid #00b34a; background:#fff; float:left; margin-right:12px; display:inline; color:#00b34a; height:18px;text-decoration:none; cursor:pointer}
.xgt_meitu_nav ul li.nav_type_select a:hover{background:#00b34a; color:#fff}
.xgt_meitu_nav ul li.nav_type_select a h6{ display:inline-block; height:18px; line-height:18px; padding:0 7px; font-weight:normal; }
.xgt_meitu_nav ul li.xgt_meitu_total_num{float:left; height: 20px; line-height: 20px; margin-left:3px; display: inline}
.xgt_meitu_nav ul li.xgt_meitu_total_num em{color: #333}
.xgt_meitu_nav em.xgt_meitu_nav_total{float:left; height:20px; line-height:20px; color:#999}
span.nav_arrow_right{ font-size:14px; background-position:-36px 0; width:5px; height:9px;float:left;margin:6px 0 0 14px; display: inline}
.ielt7 span.nav_arrow_right{margin:5px 0 0 14px}
.ielt7 .xgt_meitu_nav ul li.has_arrow a{height:18px; line-height:18px; float:left;}

.xgt_meitu_nav ul li.nav_type_select a span.nav_close{background-position:-49px 0; width:7px; height:7px; display:inline-block; margin:0 5px}
.ielt8 .xgt_meitu_nav ul li.nav_type_select a span.nav_close{position:relative;left:5px; bottom:3px}
.xgt_meitu_nav ul li.nav_type_select a:hover span.nav_close{background-position:-42px 0}
.xgt_meitu_nav .xgt_meitu_nav_link{color: #999;float: right;margin-right: 10px;}
.xgt_meitu_nav .xgt_meitu_nav_link:hover{color: #f25618;}
.xgt_select_type{border:1px solid #eaeaea; float:left; position:relative;_overflow:hidden; margin-top:20px;}
.xgt_select_type dl{border-top:1px dotted #eaeaea; width:100%;top:-1px; position:relative; float:left; overflow:hidden}
.ielt7 .xgt_select_type dl{overflow:hidden;}
.xgt_select_type dl dt{width:77px; border-right:1px solid #eaeaea; text-align:center;  font-weight:bold; position:absolute;top:0; left:0 ; height:100%;line-height:40px; z-index:-1; color:#999;}
.ielt7 .xgt_select_type dl dt{height:999px}
.xgt_select_type dl dd{float:left; width:100%px; margin-left:110px; display:inline}
.xgt_select_type dl.height_40{height:40px}
.xgt_select_type dl.height_auto{height:auto}
.xgt_select_type dl dd a{display:inline-block; height:40px; line-height:40px; width:72px; text-align:left; text-decoration: none }
.xgt_select_type dl dd a:hover{color:#f25618;}
.xgt_select_type dl dd a.on{font-weight:bold; color: #333}
.xgt_select_type dl a.xgt_nav_showMore{position:absolute; width:16px; height:16px; background-position:0 -16px; right:20px; top:12px}
.xgt_select_type dl a.showMore_down{background-position:-17px -16px}
.xgt_select_type dl.xgt_st_colour dd{font-size:0; height:40px;}
.xgt_select_type dl.xgt_st_colour dd a{height:16px; width:40px; margin:12px 5px 0 0 ;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
/*.xgt_select_type dl.xgt_st_colour dd a:hover{ transition:transform .2s linear 0s; transform:scaleX(1.5) scaleY(1.5)}*/
.xgt_st_sorts{padding:10px 0}
.xgt_st_sorts a{margin:0 20px 0 27px;}
.xgt_st_sorts a:hover,.xgt_st_sorts a.on{color:#f25618; text-decoration:none}
.xgt_st_nh{margin-top:20px; border:1px solid #e8e8e8; background:#fff; height:38px; float:left; display: inline; width:1218px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.narrow_980 .xgt_st_nh{width: 978px}
.xgt_st_nh a{float:left; width:82px; height: 38px; line-height: 38px; text-align: center; border-right:1px solid #e6e6e6; color:#333; text-decoration: none}
.xgt_st_nh a:hover{color:#f25618;}
.xgt_st_nh a.on{color:#f25618;}
/* pinterest */
.xgt_meitu_pinterest{position:relative; float:left; display:inline; width:100%}
.xgt_meitu_pinterest .xmp_container{position:relative; margin-top:20px;}
.xgt_meitu_pinterest .xmp_container .item{position:absolute; width:290px}
.xgt_meitu_pinterest .xmp_container .item div, .xgt_meitu_other_pic li div{width:288px; height:45px; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; float:left; }
.xgt_meitu_pinterest .xmp_container .item div a, .xgt_meitu_other_pic li div a{ display:inline-block; width:200px; height:18px; line-height:18px; font-size:14px; color:#333; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:13px 0 0 14px; font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;  text-decoration: none}
.xgt_meitu_pinterest .xmp_container .item div a:hover, .xgt_meitu_other_pic li div a:hover{color:#f25618;}
.xgt_meitu_pinterest .xmp_container .item div a:hover{color: #f25618}
.xgt_meitu_pinterest .xmp_container .item div em{ height:18px; line-height:18px; margin:14px 15px 0 0; float:right; display:inline}
.xgt_meitu_pinterest .xmp_container .item a:hover{text-decoration:none}
.xgt_meitu_pinterest .xmp_container .item span{position:relative; float:left;  height:100%; width:290px; _overflow:hidden}
.xgt_meitu_pinterest .xmp_container .item span a.item_img{ display:block; float:left; cursor: pointer;}
.xgt_meitu_pinterest .xmp_container .item span a.item_img img{float:left}
.xgt_meitu_pinterest .xmp_container .item span a.free_design{width:144px; height:35px; background-color:rgba(232,112,39,.9); text-align:center; line-height:35px; color:#fff; position:absolute; bottom:0; left:0; z-index:100}
.ielt9 .xgt_meitu_pinterest .xmp_container .item span a.free_design,.ielt9 .xgt_meitu_pinterest .xmp_container .item span a.meitu_collection{background:#e87027; filter:alpha(opacity=90);}
.xgt_meitu_pinterest .xmp_container .item span a.meitu_collection{width:144px; height:35px; background-color:rgba(232,112,39,.9) ;text-align:center; line-height:35px; color:#fff; position:absolute; bottom:0; right:0; z-index:100;}
.xgt_meitu_pinterest .xmp_container .item span a.meitu_collection em.ysc{background-position:-66px -16px}
.xgt_meitu_pinterest .xmp_container .item span a.meitu_collection em{background-position:-66px -16px; width:16px; height:16px; display:inline-block; top:5px; position:relative; margin-right:6px}
.ie7 .xgt_meitu_pinterest .xmp_container .item span a.meitu_collection em{top:2px;}
.ielt7 .xgt_meitu_pinterest .xmp_container .item span a.meitu_collection em{margin-right:6px; top:1px}
.xgt_meitu_pinterest .xmp_container .item span a.meitu_collection b{display:inline-block; height:35px; line-height:35px; font-weight:normal}
.xgt_meitu_pinterest .xmp_container .item a.item_img img{ background:#ccc}
.xgt_meitu_pinterest .xmp_container .item span:hover{ /*transition:transform .2s linear 0s; transform:scaleX(1.05) scaleY(1.05)*/}


.xgt_search_select{border:1px solid #eaeaea; background:#fff; height:48px; margin-top:21px}
.xgt_search_select span{float:right; height:48px; line-height:48px; color#999; margin-right:11px}
.xgt_search_select span em{color:#f26f20}
.xgt_search_select  ul li{float:left; width:160px; height:48px; text-align:center;border-right:1px solid #eaeaea; position:relative}
.xgt_search_select  ul li a{color:#666; font-size:14px; width:160px; height:48px; line-height:48px ; text-decoration:none}
.xgt_search_select  ul li.on a{ position:absolute; width:162px; height:48px; border-bottom:3px solid #f26f20; top:0; left:-1px; color:#f26f20; font-weight:bold}

.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_1{background-color:#fff; width: 38px; border:1px solid #eee; height:14px; }
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_2{background-color:#f1ebe5}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_3{background-color:#f4e8b1}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_4{background-color:#f4cdb0}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_5{background-color:#eca9b1}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_6{background-color:#f4c6cf}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_7{background-color:#dfe6ae}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_8{background-color:#bcd1e6}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_9{background-color:#ccb8e0}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_10{background-color:#999}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_11{background-color:#d6c5b3}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_12{background-color:#d0d0d0}

.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_1:hover{background-color:#f8f8f8; border:1px solid #eee; width:38px; height:14px}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_2:hover{background-color:#edddce}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_3:hover{background-color:#eed047}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_4:hover{background-color:#f0924b}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_5:hover{background-color:#df394c}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_6:hover{background-color:#f17e94}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_7:hover{background-color:#bfd244}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_8:hover{background-color:#689cd2}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_9:hover{background-color:#8d6dac}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_10:hover{background-color:#111}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_11:hover{background-color:#aa7f52}
.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_12:hover{background-color:#999}

.xgt_select_type dl.xgt_st_colour dd a.meitu_colour_13:hover{background-position:0 -16px}

.xgt_meitu_searchNone {margin-top:60px; text-align:center ; display: inline-block; width:100%;}
.xgt_meitu_searchNone b{  background-position:0 -32px; width:60px; height:60px; margin:0 auto; display:inline-block}
.xgt_meitu_searchNone span{margin-top:20px; width:100%; text-align:center; font-size:14px; color:#333; display:inline-block; font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; }
.xgt_meitu_searchNone span em{color:#00b34a}
.xgt_meitu_other_pic{margin-top:80px; }
.xgt_meitu_other_pic span{font-size:18px; display:inline-block; font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; color:#333 }
.xgt_meitu_other_pic ul{margin:40px 0 0 -20px; display: inline-block}
.xgt_meitu_other_pic li{float:left; width:290px; height:249px; margin:0 0 20px 20px; display:inline}
.xgt_meitu_other_pic li a.xmop_item{width:290px; height:203px; display:block;overflow: hidden;}

/* 精品专题 */
.xgt_topic .topic_item{position:relative; height:448px; width:1220px; z-index:1; margin-bottom:20px}
.narrow_980 .xgt_topic .topic_item{width:980px}
.xgt_topic .topic_item a{position:absolute; overflow:hidden; color:#333; text-decoration: none; cursor: pointer;}
.xgt_topic .topic_item a.topic_item_intro {width:351px; height:201px; top:0; left:0; background:#fff}
.xgt_topic .topic_item a.topic_item_pic_1{width:232px; height:162px; top:0; left:352px}
.xgt_topic .topic_item a.topic_item_pic_2{width:635px; height:448px; top:0; right:0}
.narrow_980 .xgt_topic .topic_item a.topic_item_pic_2{width:395px; overflow:hidden}
.xgt_topic .topic_item a.topic_item_pic_3 {width:232px; height:285px; bottom:0; left:352px}
.xgt_topic .topic_item a.topic_item_pic_4{width:351px; height:246px; bottom:0; left:0}
.xgt_topic .topic_item a.topic_item_intro  span, .xgt_topic .topic_item a.topic_item_intro img{position:absolute}
.xgt_topic .topic_item a.topic_item_intro img{right:0; top:0; z-index:1}
.xgt_topic .topic_item a.topic_item_intro .tii_vol{ background-position:-60px -32px; width:46px; height:46px; top:26px; left:21px}
.xgt_topic .topic_item a.topic_item_intro .tii_vol em{height:14px; width:32px; text-align:center; font-size:14px; color:#333; font-weight:bold; margin:18px 0 0 7px; float:left; font-family:Arial, Helvetica, sans-serif; overflow:hidden; line-height:12px;-webkit-transform:scale(0.8);}
.xgt_topic .topic_item a.topic_item_intro .tii_vol b{background-position: -61px -78px; width: 16px; height: 15px; bottom:-6px; right:-13px; position: absolute;}
.xgt_topic .topic_item a.topic_item_intro span.tii_title{top:90px; left:21px; width:180px; height:24px; line-height:24px; color:#333; font-weight:bold; font-size:22px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;  font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; }
.xgt_topic .topic_item a.topic_item_intro span.tii_description{top:122px;left:21px; width:160px; font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; text-align: justify; white-space: normal; word-wrap:break-word; }
.xgt_topic .topic_item a.topic_item_intro span.tii_tOne{width:7px; height:90px; top:0; right:145px; background:#fff; z-index:2}
.xgt_topic .topic_item a.topic_item_intro span.tii_tThree{width:7px; height:97px; bottom:0; right:145px; background:#fff; z-index:2}
.xgt_topic .topic_item a.topic_item_intro span.tii_tTwo{width:6px; height:14px; top:90px;right:145px;  background-position:-40px -8px; z-index:2}
.xgt_topic .topic_item a div.tranLayer , .xgt_meitu_pinterest .xmp_container .item span a.item_img em.tranLayer{background:#fff; opacity:.1; width:100%; height:100%; position:absolute; z-index:99; top:0; left:0; }
.ielt9 .xgt_topic .topic_item a div.tranLayer ,.ielt9 .xgt_meitu_pinterest .xmp_container .item span a.item_img em.tranLayer{filter:alpha(opacity=10); }
.xgt_details_bg{width:100%;  position:relative;  background:#f8f8f8}
.xgt_details_img{ position:absolute; z-index:2;  }
.xgt_details_transLayer{ position:absolute; z-index:9; width:100%; height:100%; background:#fff; opacity:0.1; top:0; left:0; display:none}
.ielt9 .xgt_details_transLayer{filter:alpha(opacity=10)}
.xdb_container{position:relative; z-index:11; width:980px; margin:0 auto}
.xdb_container_nav_wrap{width:100%; height:30px; background:#fff; opacity:0.22; position:absolute; z-index:2}
.ielt9 .xdb_container_nav_wrap{filter:alpha(opacity=22)}
.xdb_container_nav{width:1220px; margin:0 auto; z-index:11; position:relative}
.narrow_980 .xdb_container_nav{width:980px}
.xdbc_nav{padding:4px 0; height:20px; line-height:20px}
.xdb_title{position:relative; height:172px; width:100%}
.xdb_title em {width:71px; height:71px; background-position:-108px 0; top:63px; left:282px; position:absolute}
.xdb_title h1{position:absolute; height:71px; line-height:71px; top:63px; left:361px; width:620px; font-size:38px; color:#333; font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;}
.xdb_content_layer{background:#fff; float:left; width:980px}
.xdb_content_layer .xdb_content{width:945px; padding:45px 0 0 17px; float:left}
.xdb_content_layer .xdb_content .xdbc_description{margin-left:140px; width:666px; position:relative; float:left; display:inline}
.xdb_content_layer .xdb_content .xdbc_description span.sy_left{background-position:0 -92px; width:30px; height:28px; float:left}
.xdb_content_layer .xdb_content .xdbc_description span.sy_right{background-position:-30px -92px; width:30px; height:28px; position:absolute; right:0; bottom:0}
.xdb_content_layer .xdb_content .xdbc_description div{float:left; width:574px; margin:16px 0 0 19px; display:inline; font-size:14px; line-height:22px; white-space: normal; word-wrap:break-word;}
.xdbc_main_content{margin-top:50px; display:inline-block; text-align:center; width: 100%}
.xdbc_main_content img{margin-bottom:15px}
.xdbc_main_content p{  margin-bottom:15px;}
.xdbc_main_content p span{background-position:-179px 0; text-align:left;white-space:normal; word-wrap:break-word;padding:40px 0 0 37px; background-color: transparent !important; display: inline-block}
.xgt_details_promotions{border-top:1px solid #e6e6e6; float:left; width:100%; margin-top:25px; display:inline}
.xdp_container{width:945px; height:189px; margin:0 auto; padding:39px 0 20px 0}
.xdp_container h3{display:block; height:22px;  line-height:22px; font-size:20px;font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; color:#333; font-weight:100}
.xdp_container ul {margin:14px 0 0 -21px;float:left; display:inline}
.xdp_container ul li{float:left; margin-left:21px; display:inline; width:220px; height:154px; position:relative}
.xdp_container ul li a{color:#e8e8e8; text-decoration:none}
.xdp_container ul li a em{position:absolute; width:100%; height:30px; background:#000; opacity:.6; bottom:0; left:0; z-index:1 }
.ielt9 .xdp_container ul li a em{filter:alpha(opacity=60)}
.xdp_container ul li a span{ position:absolute; width:210px; height:30px; line-height:30px;left:10px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; bottom:0 ;z-index:2  ; font-size:14px}

/*.ielt7 .xgt_meitu_line{position:absolute; z-index:999; height:9999px; width:1px; background:#f00; left:40px;top:0}*/
/* meitu window */
.collection_box_content{width:351px; margin:38px auto 0 auto}
.collection_box_content dl, .freeQuote_box_content ul{ position:relative; float:left; width:100%}
.collection_box_content dl dt{position:absolute; height:100%; line-height:14px}
.collection_box_content dl.cbc_dl_two dt{line-height:27px}
.collection_box_content dl dd{float:right; width:284px}
.collection_box_content dl.cbc_dl_one dd div.cb_item{margin-bottom:19px; height:14px; line-height:14px}
.collection_box_content dl.cbc_dl_one dd div.cb_item input.cbc_radio{margin:1px 9px 0 0}
.collection_box_content dl.cbc_dl_two dd div.cb_item input.cbc_radio{margin:8px 9px 0 0; float:left; display:inline; position: relative;top:0;}
.collection_box_content dl.cbc_dl_two dd div.cb_item input.cbc_text{padding:6px 0 6px 12px; width:180px; border:1px solid #ccc;}
.collection_box_content dl.cbc_dl_two dd div.cb_item{height:28px; margin-bottom:9px}
.collection_box_content dl.cbc_dl_two dd div.cb_item span.collect_span{height:28px; line-height:28px; margin-right:10px; float: left; display: inline}
.collection_box_content dl.cbc_dl_two dd div.cb_item select{width:194px; padding:6px 0px 6px 10px }
.ielt8 .collection_box_content dl.cbc_dl_two dd div.cb_item select{margin-top:5px;}
.ielt8 .collection_box_content dl.cbc_dl_two dd div.cb_item input.cbc_radio{margin:5px 9px 0 0; }
.freeQuote_box_content{width: 366px; margin:38px auto 0 auto;}
.freeQuote_box_content ul li {float:left; width: 100%; height: 34px; margin-bottom:10px; display: inline}
.freeQuote_box_content ul li span.fbc_name{float:left; width:60px; height: 34px; line-height: 34px; text-align: left}
.freeQuote_box_content ul li input.fq_text{float:left; width: 295px; height: 32px; border: 1px solid #ccc;line-height: 32px;}
.freeQuote_box_content ul li select{float:left; padding:9px 0 9px 10px; border:1px solid #ccc;}
.ielt8 .freeQuote_box_content ul li select{margin-top:8px; display: inline}
.freeQuote_box_content ul li select.fq_province{width: 100px; margin-right:10px;}
.freeQuote_box_content ul li select.fq_area{width: 186px}
.freeQuote_box_content ul li select.dn{display: none}
.freeQuote_box_content input.fq_btn{float:left; width: 116px; height: 40px; color: #fff; border: 0; text-align: center; font-size: 14px; font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;margin:10px 0 0 60px; display: inline ; background: #f36f20; cursor: pointer;}
.freeQuote_box_content input.fq_btn:hover{background: #e7691e}
.freeQuote_box_content .fq_description{float:left; width: 310px; height: 14px; line-height: 14px; margin:20px 0 0 60px; display: inline; color: #999; padding-bottom:40px;}
.freeQuote_box_content .fq_description em{background-position: -36px -165px; width: 14px; height: 14px; float:left; margin-right:4px; display: inline; }
.freeQuote_box_content ul li span.window_box_siyinError, span.window_box_collectError{float:left; height: 14px; line-height: 14px; margin:4px 0 0 60px; width:250px; color: #ff6666}
span.window_box_collectError{margin:4px 0 0 81px}
.window_box_container .apply_success, .window_box_container .apply_fail{float:left; width: 380px; height: 60px; margin:40px 0 0 60px; display: inline; position: relative; padding-bottom:;}
.apply_success span.as_true, .apply_fail span.as_fail{background:url(/img/decorate_gallery/images/png/xgt_meitu.png?20140920) no-repeat; _background:url(/img/decorate_gallery/images/gif/xgt_meitu.gif) no-repeat;background-position: -60px -92px; width: 60px; height: 60px; float:left;}
.apply_fail span.as_fail{background-position:-120px -92px;}
.window_box_container .apply_success strong{position: absolute; font-size:24px; color: #333;font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; top:7px; left:81px; width: 300px; height: 26px; line-height: 26px; font-weight: 500}
.window_box_container .apply_fail strong{position: absolute; font-size: 18px; height: 40px; line-height: 20px; color: #333; font-weight: 400; top:8px; left: 81px}
.window_box_container .apply_fail em{position: absolute; color: #999; height: 14px; line-height: 14px; top:30px; left:81px;}
.window_box_container .apply_success em{position: absolute; color: #999; top:38px; left:81px; width: 300px; height: 14px; line-height: 14px}
.new_loading{ width: 100%; height:20px; margin:10px 0; text-align: center}
.new_loading em{background: url(http://img.to8to.com/decorate_gallery/images/gif/loading.gif) no-repeat;  width: 20px; height: 20px ; display: inline-block}

/* 名师名企[[ */
.top-select{border:solid 1px #e8e8e8; margin-top:22px;}
.top-select ul{ height:32px; padding-left:24px; padding-top:10px;}
.top-select ul a{line-height:20px; cursor:pointer;margin-right: 14px;}
.top-select ul a:hover{color: #f25618;}
.top-select ul a.nav_type_select{ border:solid #02ae62 1px; color:#02ae62;display:inline-block; height:20px; padding:0 5px; }
.top-select ul a.nav_type_select:hover{background-color:#02ae62;color: #fff; }
.top-select ul a:last-of-type{ color:#999;}
.top-select ul a:last-of-type b{ color:#666; font-weight:normal}
.top-select ul a span.nav_arrow_right{border:none;float: none;display: inline-block;height: 9px;margin-top: 0;vertical-align: middle;}
.top-select ul span.nav_close{background-position:-49px 0; width:7px; height:7px; display:inline-block; margin:0 5px;border:none;padding: 0;vertical-align: middle;}
.top-select ul a:hover span.nav_close{background-position: -42px 0;}
.famous{ border-top:solid #e8e8e8 1px; position:relative;}
.famous h3{width:86px; background:#f8f8f8;text-align:center;line-height: 40px;height: 100%;position: absolute; top:0; left:0}
.famous ol { padding-left:10px; margin-top:10px}
.famous ol li{float:left}
.famous ol li a{ height:30px; line-height:30px;}
.famous ol li a.active{ font-weight:bold;}
.famous div{ float:left;}
.famous div p{ padding-left:10px;width:1042px; padding-right: 80px; overflow:hidden;border-bottom:solid 1px #e8e8e8; position:relative; height:40px; line-height:40px;}
.show_more_info{position:absolute; padding:0; margin:0; background:#eee url(http://www.to8to.com/img/decorate_gallery/images/jpg/du_arrow.jpg) no-repeat center center; border:solid 1px #d9d9d9; height:15px; width:15px; top:12px; right:20px;}
.hide_more_info{position:absolute; padding:0; margin:0; background:#eee url(http://www.to8to.com/img/decorate_gallery/images/jpg/du_arrow_down.jpg) no-repeat center center; border:solid 1px #d9d9d9; height:15px; width:15px; top:12px; right:20px;}
.selectfr-height{ height:135px!important;}
.famous div a{cursor:pointer; word-break:break-all; word-wrap:break-word}
.famous div a:hover{color: #f25618;}
.famous div a.sub_memu,.famous div a.sub_name{margin-right: 10px;}
.scroll{ height:93px;  width:1132px; overflow:hidden; overflow-y:scroll; margin-left: 86px; position: relative;}
.mingshi{ width:1122px; overflow:hidden; margin-left: 86px;padding-left: 10px;}
.scroll dl,.mingshi dl{ width:1072px; padding-right:50px; margin-top: 10px; line-height: 30px; }
.scroll dl dt,.mingshi dl dt{ float:left; padding-left:10px;width: 40px;}
.scroll dl dt a,.mingshi dl dt a{ color:#ccc;}
.scroll dl dt .scroll_tag{color: #ccc;}
.scroll dl dd,.mingshi dl dd{ float:left;width: 1070px;}
.scroll dl dd{width: 1020px;}
#p_expand,#show_scroll{ margin-left: 86px;}
#mingshiHeight dl{ margin-top: 0;}
#mingshiHeight .showhide{ overflow: hidden; height: 40px;}
#mingshiHeight dl a{line-height: 40px;margin-right: 40px;white-space: nowrap;}
#scrollParent{position: absolute;left: 0px;top:0px;}
#scrollParent dl dd a{margin-right: 20px;white-space: nowrap;}
.famous #p_expand a{margin-right: 40px;}
#p_expand a.on,a.on{font-weight: bold;}
#p_expand a:hover,dl.clear dd a:hover,.showColor dl dd a:hover {color: #f25618;}
/* 名师名企]] */