@charset "utf-8";
/**
 *
 * CSS File,created by kevin.he, on 09.05 2014
 *
 * 最后编辑人：kevin.he  (每次修改本文件)
 *
 * 可重用Class:  [container]
 *
 * ie9下兼容样式，请分别加上ielt9,ielt8,ielt7等父级前缀
 *
 * 窄版Body增加Class:  narrow_980
 *
 */
body, a ,.otl_left input.binding_act,.auth_code label input.autoCodeButton,.login_box .btn_login{ font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
img{display: block;}
.fl{float: left;display: inline;}
.fr{float: right;}
.ovh{overflow: hidden;}
.f0{font-size:0;line-height:0;text-indent: -999em;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
.container{min-height: 0; padding-bottom:30px;}

.weibo_login i,.qq_login i,.wechat_login i,.login_tab ul li a b,.wechat_login_success b,.login_select div.index_check em,.login_select div.index_check_two em,.otl_arrow_left,.otl_arrow_right,.otl_left dl dd div.index_check em ,.cu_description em,.company_user dl dd div.index_check em,.accept_service .index_check em,.bderror em,.reg_success b,.reset_line ul li em,.wechat_fail b,#img_weixincode i{background:url(http://img.to8to.com/to8to_img/global.png??2015031712) no-repeat; _background:url(http://img.to8to.com/to8to_img/global.gif??2015031712) no-repeat;  overflow:hidden}

/* header */
.narrow_980 .header_center_container span.hcc_logo{margin-right: 20px;}
.narrow_980 .header_center_container span.hcc_title{float: left;display: inline;height: 42px;margin-top: 39px;padding-left: 20px;font-size: 18px;line-height: 42px;color: #333;border-left: 1px solid #f8f8f8;}

/* 登陆 */
.login_img{width: 380px;height: 300px;margin: 14px 0 0 68px;}
.login_img img{display: block;}
.login_box{width: 250px;margin: 26px 0 0 80px;padding: 30px 40px;border: 1px solid #eee;}
.login_box h2{width: 250px;margin: 0 auto 19px;font-size: 16px;line-height: 18px;font-weight: 400;color: #666;}

.safe{position: relative;width: 250px;margin: 0 auto;padding: 0 0 20px;line-height: 14px;}
.safe_login{ position: relative;z-index:0;display: inline-block;overflow: hidden;height: 14px;line-height: 14px;color: #999;vertical-align: middle;zoom:1;*display:inline;}
.safe_login input{margin-right: 5px; position: relative;z-index: 1}
.ielt8 .safe_login input{margin-top: -4px;}
.login_box .safe label{color: #b8b8b8;vertical-align: top;}
.forget_pw{position: absolute;right: 0;top: 0;color: #666;}
.login_box ul.entries{overflow: hidden;padding-top: 10px;}
.login_box ul li.other_login{float: left;}
.login_box ul li.register{float: right;}
.login_box ul li.register a{color: #666;}
.login_box ul.entries .other_login a{display: inline-block;overflow: hidden;color: #666;vertical-align: middle;zoom:1;*display:inline;}
.login_box ul.entries .other_login i{float: left;display: inline;height: 16px;margin: 0 3px 0 0;}
.weibo_login{margin-right: 23px;}
.weibo_login i{width: 16px; background-position: -132px -188px;}
.qq_login i{width: 14px;background-position: -117px -188px;}
.wechat_login i{width: 17px; height: 14px; background-position: -180px -223px}
.login_box ul.entries a:hover,.login_box .safe a:hover{color: #f25618}


.login_box .login_select{position: relative;width: 250px;margin: 0 auto 20px;}
.login_box .userTime{margin: 0 auto 20px;}
.login_box .height_auto{margin: 0 auto 2px;}
.otl_left dl dd.height_auto{margin-bottom:2px;}
.login_box .login_select span,.company_user dl dd label.desText{position: absolute;top: 8px;left: 13px;color: #bbb;}
.ielt7 .login_box .login_select span{top: 11px;left: 11px;}
.login_box .login_select input,.otherLogin dl dd input,.company_user dl dd input.cu_text{display: block;width: 228px;height: 30px; padding: 1px 10px;color: #333;border: 1px solid #ccc;}
.login_box .login_select input.auth_text,.otherLogin dl dd input.auth_text{width: 70px; float: left}
.login_box .ls_auth_code img,.otherLogin dl dd.ls_auth_code img{margin:5px 0 0 5px; float: left; display: inline}
.login_box .ls_auth_code a,.otherLogin dl dd.ls_auth_code a{float:left; width: 53px;margin-left:7px; display: inline; line-height: 14px; color: #999}
.login_box .ls_auth_code a:hover,.otherLogin dl dd.ls_auth_code a:hover{color: #f25618}
.company_user dl dd input.cu_text{width: 276px}
.login_box .login_select textarea{display: block;overflow: hidden;width: 228px;height: 46px;padding: 7px 10px;color: #333;border: 1px solid #ccc;}
.login_box .focus{border: 1px solid #96d5b9;}
.login_box .wrong_text{position: relative;width: 250px;height: 16px;margin: 0 auto;color: #ff6666;line-height: 18px;}
.login_box .wrong_text em{float: left;display: inline;width: 13px; height: 13px;margin: 2px 5px 0 0;background-position: -354px -36px;}
.ielt7 .login_box .wrong_text {line-height: 19px;}
.ielt7 .login_box .wrong_text em{margin: 2px 2px 0 0;}
.login_input{position: relative;width: 250px;margin: 0 auto;}
.login_input input{color: #333;width: 198px;padding: 7px 10px 7px 70px;}
.login_input span,.otherLogin dl dd span{position: absolute;top: 7px;left: 15px;color: #333;}
.ielt8 .login_input span,.ielt8 .otherLogin dl dd span{top: 10px;left: 10px;}
/*.login_box select{display: block;width: 250px;height: 34px;margin: 0 auto 10px; padding: 0 0 0 5px;color: #bbb;line-height: 34px;color: #333; border: 1px solid #ccc;}
.ielt9 .login_box select{padding: 5px 0 10px 10px}
.ielt8 .login_box select{height: 20px;}*/
.select_list{margin-left: 30px;}
.ielt8 .select_list{height: 30px;}
.ielt7 .select_list{height: auto;}
.select_list select{float: left;display: inline;width: 135px;margin-right: 10px;}
.login_box .btn_login,.reg_box .btn_reg,.designer_reg dl dd a{display: block;width: 250px;height: 36px;margin: 0 auto;font-size: 14px;line-height: 36px;text-align: center;color: #fff;background: #940b13; border: 0; cursor: pointer; }
.login_box .btn_login:hover,.reg_box .btn_reg:hover,.designer_reg dl dd a:hover{background: #e7691e;color: #fff;}

.login_tab,.reg_tab{width: 250px; height: 35px; position: relative; border-bottom: 1px solid #eee; margin-bottom:20px; }

.login_tab ul li,.reg_tab ul li{width:124px; height: 35px; text-align: center; line-height: 35px; float: left; cursor: pointer;  }
.login_tab ul li a,.reg_tab ul li a{color: #333;font-size: 16px; width:125px; margin:0 auto; height: 35px;  display: block;  }
.login_tab ul li.on a,.reg_tab ul li.on a{color: #940b13; border-bottom:2px solid #940b13;}
.login_tab ul li a b,.reg_tab ul li a b{position: absolute; width: 18px; height: 11px; background-position: -201px -16px; top: 0; right: 132px}
.reg_tab ul li,.reg_tab ul li a{width:99px;}


.wechat_login{/*text-align: center*/}
.wechat_login img{margin: 0 auto; border: 1px solid #efefef}
.wechat_login span,.wl_codeLayer .wl_font{ display: block; text-align: center;  font-size: 14px}
.wl_codeLayer .wl_font{margin-top:11px;}
.wechat_login a.wh_link{color: #999; display: block; text-align: center; margin:7px 0 0 98px; float: left;font-size: 12px;}
.wechat_login a.wh_qcode{margin:10px 0 0 92px;}
.wl_codeLayer{height: 180px}
.wechat_login a.wh_link:hover,.wechat_help a.wh_link{color: #f25618}
.wechat_help a.wh_link{text-decoration: underline !important; font-size: 14px}
.wechat_login_success,.wechat_fail{position: relative; margin:10px auto 0 auto; width: 140px}
.wechat_login_success b,.wechat_fail b{background-position: -91px -225px; width: 32px; height: 32px; display: block}
.wechat_login_success strong, .wechat_fail strong{position: absolute; top: -5px; left: 44px; font-size: 14px}
.wechat_login_success span, .wechat_fail span{position: absolute; top: 13px; left: 26px; width: 160px}
.wechat_fail b{background-position: -124px -225px}
.wechat_fail span{width: 147px }
.wechat_fail span a{color: #01af63}
.wechat_fail span a:hover{color: #f25618}
.login_select div.index_check,.login_select div.index_check_two ,.otl_left dl dd div.index_check,.company_user dl dd div.index_check,.accept_service .index_check{color: #ff6666; height: 14px; display: inline-block; line-height: 14px ; position: relative; margin:0px 0 0px 0; bottom:-1px;}
.ielt8 .login_select div.index_check{display:inline;zoom:1;}
.company_user dl dd div.index_check{/* margin:6px 0 3px 47px; */}
.otl_left dl dd div.index_check em,.login_select div.index_check em,.company_user dl dd div.index_check em ,.accept_service .index_check em,.bderror em,.login_select div.index_check_two em{background-position: -51px -165px; float:left; margin-right:3px; width: 13px; height: 13px ; position: relative; top: 1px}
#img_weixincode{position: relative; width: 141px; height: 141px; left: 56px;}
#img_weixincode img.loading_gif{margin-top:56px; position: absolute; left: 56px}
#img_weixincode i{background-position: -221px -223px; width: 29px; height: 29px; position: absolute; left:56px; top:56px; }

.otherLogin{ width:785px; height:600px; margin:0 auto;}

.otl_left{width: 330px; height: 290px; position: relative; float: right; display: inline; border:1px #e8e8e8 solid; margin-top:44px;}
.otl_left dl dt{ height:75px;}
.otl_left dl dt p{ height:42px; line-height:42px; border-bottom:1px #e8e8e8 dashed; text-indent:20px; font-size: 16px; color: #333;}
.otl_left dl dt a{color: #666; float:right; margin:10px 40px 0 0; font-size:12px;}
.otl_left dl dt a:hover{color:#f36f20;}
.otl_left dl dd{ position: relative; width:250px; margin:0 auto; margin-bottom:20px;}
.otl_left dl dd span{color:#b8b8b8;}
.otl_left dl dd a.otl_forget{ width:auto; height:auto; display:block; color: #666;}
.otl_left dl dd a.otl_forget:hover{color:#f25618}
.otl_operate{ left:85px; position: absolute; top: 206px; left: 84px}
.otl_left input.binding_act{width: 94px; height: 34px; background-color: #f36f20; border: 0; color: #fff; font-size: 14px; cursor: pointer; float: left; margin:0 0 20px 40px;}
.otl_left input.binding_act:hover{background-color:#e7691e }
.otl_left label{ height:34px; line-height:34px; font-size:14px; color:#999; margin-left:10px;}
.otl_left .step{ color:#01af63;font-size: 14px;}
.otl_operate span{margin:7px 0 0 7px;color: #666; float: left; display: inline}
.otl_operate span a{color: #01af63;}
.otl_operate span a:hover{color: #f25618}
.otl_arrow_left{position: absolute;right: 0; top: 110px; background-position: -156px -240px; width: 22px; height: 17px}
.otl_arrow_right{position: absolute;right:-22px; top: 62px; background-position: -156px -223px; width: 22px; height: 17px}

.otl_mid{ width:57px; height:52px; background:url(http://www.to8to.com/img/third_binding_arrow.jpg); float:left; margin:150px 0 0 20px;}

.otl_right{width:360px; float: left; height: 210px; position: relative;}
.otl_right .clumn_name{ font-size:16px; color:#333;}
.otl_right .detail{ width:100%; height:290px; border:1px #e8e8e8 solid; margin-top:20px;}
.otl_right .detail .type_name{ height:42px; line-height:42px; border-bottom:1px #e8e8e8 dashed; font-size: 16px; color: #333; font-family: 宋体;}
.otl_right .detail .type_name span { width:16px; height:16px; background:url(http://img.to8to.com/to8to_img/global.png??2015031712) no-repeat; display:inline-block; float:left; margin:13px 10px 0 20px;}
.otl_right .detail .type_name .weixin{ background-position:-180px -222px;}
.otl_right .detail .type_name .qq{ background-position:-115px -188px;}
.otl_right .detail .type_name .weibo{ background-position:-132px -188px;}

.otl_right .detail .type_name label{ width:auto; float:left;}
.otl_right .detail .user_msg { width:200px; height:auto; margin:0 auto; margin-top:40px; }
.otl_right .detail .user_msg .img{ width:86px; height:auto; margin:0 auto; display:block; position:relative; }
.otl_right .detail .user_msg .head_bg{ width:86px; height:86px; position:absolute; top:0; left:0; background:url(http://www.to8to.com/img/head_bg.png) no-repeat;}
.otl_right .detail .user_msg .img img{ width:86px; height:86px; }
.otl_right .detail .user_msg .name{ width:100%; height:auto; margin:0 auto; display:block; padding-top:10px; text-align:center; }
.otherLogin_tips{ color: #999; position: absolute; top: 145px; left:85px; }
.otherLogin_tips ul li{margin-top:4px;}
.login_box .login_select input.autoCode{width:133px;  padding:1px 0 1px 10px ; float: left; display: inline}
.login_box .login_select input.authCodeText{width: 92px; height: 22px; padding:0; }
/*.auth_code{float: left; width: 145px; height: 34px}*/
.login_box .login_select input.send_auto{/*float: right; */width: 145px; height: 34px; border:1px solid #eee; background-color: #eee; padding:0; cursor: pointer; position: absolute;; right: 0; top: 0;color: #666;}
.login_box .login_select input.send_auto:hover{background-color: #e8e8e8}
.ls_yzm .index_check{width: 100%}
.reg_box{height: 400px}
.reg_box,.reg_box .reg_tab,.reg_box h2,.reg_box .login_select{width: 299px;}
/* .reg_tab ul li{margin-right:30px;}
.reg_tab ul li.sjs{margin-right:0; width: 70px}
.reg_tab ul li.sjs a{width: 70px} */
.reg_box .login_select input{width: 276px}
.auth_code{position: absolute; width: 164px; height: 67px; background-color: #f6fff9; border:1px solid #d6ded9; right: -21px; top: -83px; display: none}
.auth_code label{ width: 145px; margin:6px 0 6px 12px; display: block; clear: both; overflow: hidden}
.auth_code label img{float: left; display: inline}
.auth_code label a{float: left; margin-left:12px; display: inline ; color: #00ad4d}
.auth_code label input.authCodeText{float: left;}
.auth_code label input.autoCodeButton{float: right; width: 45px; height: 24px; border: 1px solid #f36f20; background-color: #f36f20; color: #fff; padding:0;}
.auth_code em{ position: absolute;width:0;height:0;overflow:hidden;font-size:0;display:inline-block;border-width:10px;border-color:#f6fff9 transparent transparent transparent;border-style:solid dashed dashed dashed; z-index: 2; bottom:-19px; left:75px;}
.auth_code em.arrow_background{border-color: #d8e0db transparent transparent transparent; z-index: 1; bottom:-20px;}
.accept_service{margin:-2px 0 0 0;}
.reg_box .btn_login{margin:-1px 0 0 0; width: 300px}
.reg_box .btn_login_no{background-color: #ccc;cursor: no-drop;}
.reg_box .btn_login_no:hover{background-color: #ccc;}
.accept_service a{color: #940b13}

.login_box ul li.other_login em{display	:inline-block; vertical-align: middle}

.reg_box ul li.other_login a{margin-left:6px;}
.reg_box ul li.other_login .weibo_login{margin-right:0;}

.designer_reg dl dt{font-size: 16px; color: #333; margin-bottom:16px;}
.company_user dl dd,.designer_reg dl dd{width:298px;  margin-bottom:20px; display: block; position: relative;}
.company_user dl dd.cu_layer_one{margin-bottom:15px;text-align: center;}
.company_user dl dd span{width: 47px; text-align: left; float: left; height: 34px; line-height: 34px }
.company_user dl dd.cu_layer_one span{width: 70px; height: 18px; line-height: 18px }
.ielt7 .company_user dl dd.cu_layer_one span{line-height: 24px}
.company_user dl dd.cu_layer_one label{margin-right:15px; }
.company_user dl dd label.desText{left: 13px; cursor: text;}
.ielt7 .company_user dl dd label.desText{top:11px; left:58px;}
.company_user dl dd select{float:left; width: 144px; padding-left:10px; height: 34px; margin-right:10px; display: inline}
.company_user dl dd #city{margin-right: 0;}
.ielt7 .company_user dl dd select{margin-top:7px;}
.company_user .accept_service, .reg_box .btn_reg{width: 299px;}
.cu_description{margin:10px 0 0 47px;}
.cu_description em{background-position: -36px -165px; width: 14px; height: 14px;float:left; }
.cu_description span{float: right; width: 230px; margin-top:-3px; display: inline}
.designer_reg dl dd span{float: left; width: 100%; text-align: justify; color: #999}
.designer_reg dl dd a{float: left; width:300px ; margin-top:18px; display: inline}

.bderror{color: #ff6666; height: 14px; display: inline-block; line-height: 14px ; position: relative; margin:0 0 10px 0;}
.reg_success{margin:30px auto; position: relative; width: 375px}
.reg_success b{background-position: -322px -102px; width: 60px; height: 60px; float: left; display: inline }
.reg_success em{position:absolute; font-size: 24px;top: 9px; right: 7px; color: #333}
.reg_success span{position: absolute; top: 57px; right: 80px; color: #999}
.reg_success span a{color: #01af63}
.reg_success span a:hover{color: #f25618}


.reset_password{margin:0 auto; width: 920px; margin-top: 70px;}
 input[type="text"] , input[type="password"]{ border:none; outline:none;}
.reset_line { height:50px;}
.reset_line ul li{float: left; width: 288px; position: relative;}
.reset_line ul li.last{ width:50px;}
.reset_line ul li em{float: left; width: 25px; height: 25px; background-position: -176px -188px; text-align: center; line-height: 25px; color: #fff}
.reset_line ul li.on em{ background-position: -149px -188px;}
.reset_line ul li.reset_finish{width: 25px}
.reset_line ul li b{width: 231px; height: 3px; background-color: #eee;content:''; position: absolute; top: 10px; left: 40px; overflow: hidden}
.reset_line ul li span{position: absolute; top: 35px; width: 60px; left: -16px; text-align: center; font-size: 14px}
.reset_line ul li.cur em {background-position: -149px -188px;}
.reset_content{margin:82px auto; width: 302px; clear:both; }
.reset_content ul li{ position: relative;margin-bottom:20px; float: left; position:relative;}
.reset_content ul li span{float: left; width: 52px; height: 34px; text-align: left; line-height: 34px; color:#333;}
.reset_content ul li input{float: left; height: 32px; line-height: 32px; border: 1px solid #ccc; width: 224px; padding:0 10px;}
.focus_border{border: 1px solid #00B34A;}
.reset_content ul li input.auth_text{width: 78px;}
.reset_content ul li label.default_value{position: absolute; color: #999; float: left; left: 52px; top:0; width: 250px; height: 34px; line-height: 34px; text-indent: 10px; display:inline-block;}
.reset_content ul li label.default_value_code{position: absolute; color: #999; left: 52px; top:0; width: 102px; height: 34px; line-height: 34px; text-indent: 10px;  display:inline-block;;}

#town{ display: none }
.reset_content .code { width:80px; float:left;}
.reset_content img { width:100px; float:left; margin-left:5px; height:32px;}
.reset_content a{ color:#999; margin-left:5px; line-height:30px;}
input[type="button"] , input[type="submit"] { cursor:pointer; outline:none;}
input.next_bit{width: 100px; height:36px; background:#f37020; border:0; color:#FFF; margin-left:52px;}
.reset_password .clear{ height:1px; width:100%; clear:both;}
.reset_password .message{ width:auto; height:auto; padding:0 5px; clear:both; font-size:12px; display:none; position:absolute; top:47px; left:90px;  }
.reset_password .msg_error{ color:#FF6769;  }
.reset_password .message span { width:15px; height:16px; display:block; float:left; background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat  -50px -163px; margin-right:3px; }

.reset_content .message { top:35px; left:50px;}

/*===重置密码  邮箱验证===*/
.reset_content_email {margin:82px auto; width: 500px;}
.reset_content_email p{ color:#999; margin:0 auto; width:auto; height:auto;}
.reset_content_email label{ color:#333; padding:0 5px; width:auto;}
.reset_content_email .repeat_post{ width:270px; margin:0 auto; margin-top:20px;}
.reset_content_email .repeat_post label{ color:#00b34b; cursor:pointer;}
.reset_content_email .repeat_post label:hover{ color: #E7691E;}
.reset_content_email .next_bit{ margin:20px 0 0 180px; width: 140px; height:36px; background:#f37020; border:0; color:#FFF; }
.reset_content_email dl{ width:360px; height:auto; margin:0 auto;}
.reset_content_email dl dt{ width:60px; height:60px; float:left; background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat  -322px -163px;}
.reset_content_email dl dd{ width:auto; height:60px; float:left; margin-left:20px;}
.reset_content_email dl dd h1{ font-size:24px; margin-top: 10px;}
.reset_content_email dl dd a { padding:0 5px;}
.reset_content_email dl dd a.font_green{ color:#00b34b; padding-top:5px;}

/*===重置密码  手机验证===*/
.reset_content_mobile {margin:82px auto; width: 420px;}
.reset_content_mobile p{ color:#999; margin:0 auto; width:auto; height:auto;}
.reset_content_mobile label{ color:#333; padding:0 5px; width:auto;}
.reset_content_mobile .mobile_code{ margin-top:20px; height:36px; position:relative;  }
.reset_content_mobile .mobile_code .default_value_code{position: absolute; color: #999; padding: 0; left: 80px; width: 142px; height: 34px; line-height: 34px; text-indent: 10px; display:inline-block;}
.reset_content_mobile .mobile_code .code{width:120px; float:left; font-size:14px; height:32px; line-height: 32px; padding:0 10px; border: 1px solid #ccc;}
.reset_content_mobile .mobile_code  span {width:80px; float:left; color:#333; line-height:36px;}
.reset_content_mobile .mobile_code .btn_post_code{ width:125px; float:left; background:#eee; border:none; height:34px; margin-top:1px; margin-left:10px;}
.reset_content_mobile .next_bit{ margin:20px 0 0 80px;}
.reset_content_mobile .message { width:auto; height:auto; padding:0 5px; clear:both; font-size:12px; display:none; position:absolute; top:36px; left:78px;}
.reset_content_mobile .message span { width:15px; height:16px; display:block; float:left; background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat  -50px -163px; margin-right:3px; }
.reset_content_mobile .mobile_code  .default_value {height: 20px; width: 120px; color: #999;  padding: 7px 10px;  line-height: 20px; position: absolute; top:0; left:80px; text-align: left;  display: block; }
/*===重置密码  设置新密码===*/
.reset_content_passwd{width:400px; margin: 0px auto;height: 265px; padding-top:80px; position:relative;}
.reset_content_passwd .user_input{height:36px; font-size:14px; padding:10px 0; clear:both; min-height:36px; position:relative;}
.reset_content_passwd .user_input label{ width:90px; float:left; line-height:36px; color:#333333; text-align:right;}
.reset_content_passwd .user_input .input_txt{ height:32px; width:250px; padding:0 10px; line-height:32px; float:left; border:1px solid #ccc;}
.reset_content_passwd p{ width:auto; text-indent:90px; font-size:18px; color:#333;}
.reset_content_passwd .next_bit{ margin:10px 0 0 90px;}
.reset_content_passwd .user_input  .default_value {height: 34px; width: 270px; color: #999; text-indent: 10px;  line-height: 34px; position: absolute; top:10px; left:91px; text-align: left;  display: block; }
.reset_content_email dl dt.reset_success { background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat  -322px -102px;}

input.next_bit{ cursor: pointer;}
input.next_bit:hover { background: #E7691E;}
/* 弹窗样式[[ */

.popup_wrap{position:fixed; width:100%; height:100%; background:#000; opacity:0.8; top:0; left:0; z-index:1000;}
.pooup_login_box { width:587px; height:auto; background:#FFF; z-index:1001; position: fixed; top: 25%; padding:20px;}
.pooup_login_box .pooup_login_left{ width:290px; float:left; margin-right:105px}
.pooup_login_left .cloumn_login{ font-size:16px; margin-bottom:40px; color:#666;}
.pooup_login_left .box{ margin-left:40px; margin-bottom:20px; position:relative;}
.pooup_login_left .box .input_txt { width:238px; height:22px; padding:5px; border:1px #ccc solid; color:#999;}
.pooup_login_left .box .forget_passwd{ width:auto; float:right; color:#333;}
.pooup_login_left .box .checkbox_btn{ width:13px; height:13px; margin:3px 3px 0 0; float:left;}
.clear_float{ clear:both;}
.pooup_login_left .box label{ width:auto; height:auto; float:left; color:#999;}
.pooup_login_left .box .btn { border:0; background:#f37020; width:250px; height:36px; color:#FFF; font-size:14px;}
.pooup_login_left .box .login{ width:auto; padding-right:20px; display:inline-block; color:#666;}
.pooup_login_left .box a span{ width:16px; height:16px; display:inline-block; float:left; margin-top:2px; margin-right:5px; }
.pooup_login_left .box .qq span{ background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat -116px -188px;}
.pooup_login_left .box .weibo span{ background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat -132px -188px;}
.pooup_login_left .box .login em{ height:20px; line-height:20px; float:left;}
.pooup_login_left .box .register{ width:auto; float:right; color:#f37020;}

.pooup_login_left .message{ width:auto; height:auto; padding:0 5px 0 0; clear:both; font-size:12px; display:block; position:absolute; top:35px; left:0;  }
.pooup_login_left .msg_error{ color:#FF6769;  }
.pooup_login_left .message span { width:15px; height:16px; display:block; float:left; background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat  -50px -163px; margin:0px 5px 0 0; }

.pooup_login_right{ width:190px; float:right;}
.pooup_login_right .close_popup { width:190px; height:18px; display:block;}
.pooup_login_right .close_popup .close_btn{ width:18px; height:18px; float:right; background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat 0 -165px; margin-top:4px; cursor:pointer;}
.pooup_login_right .code{ width:auto; margin-top:40px;}
.pooup_login_right .code p.top{ font-family:"Microsoft YaHei"; font-size:16px; color:#333; text-indent:8px;}
.pooup_login_right .code img{ padding:8px; border:1px #efefef solid; margin-top:20px;}
.pooup_login_right .code .message{ width:100%; font-size:12px; color:#666; margin-top:10px;}
.pooup_login_right .code .message span.img{ width:32px; height:32px; float:left; margin-right:10px;}
.pooup_login_right .code .message span.msg_detail{ width:140px; float:left;}
.pooup_login_right .code .message span.msg_detail em { font-size:12px; font-weight:bold; color:#333; line-height:16px; width:auto; text-align:left; display:block;}
.pooup_login_right .code .message span.msg_detail label{ padding-top:10px;}
.pooup_login_right .code .message span.msg_detail label .refresh{ border:0; background:0; color:#39c472;}

.pooup_login_right .code .msg_success .img { background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat -91px -225px;}
.pooup_login_right .code .msg_false .img { background:url(http://img.to8to.com/to8to_img/global.png?2015031712) no-repeat -124px -225px;}
.pooup_login_right .code .msg_info { text-indent:8px;}

