.header {
	text-align: center
}

.header h1 {
	margin-top: 30px;
	color: #333;
	font-size: 200%
}

.header p {
	font-size: 14px
}

.rd5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.rd5_r {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0
}

.d_y {
	color: #f4a300
}

.d_p {
	color: #FF66D4
}

.y {
	margin-left: 10px;
	border: 0 none;
	background: #f4a300;
	color: #fff;
	font-size: 16px
}

.orange{
	border: 0 none;
	background: #f25618;
	color: #fff;
	font-size: 16px
}


.g {
	border: 0 none;
	background: #73ce1b;
	color: #fff;
	font-size: 16px
}

.b {
	border: 0 none;
	background: #007aff;
	color: #fff;
	font-size: 16px
}

.h {
	border: 0 none;
	background: #ccc;
	color: #fff;
	font-size: 16px
}

.f_y {
	color: #f4a300;
	font-size: 18px
}

.f_h {
	color: #cdcdcd;
}

.f_g {
	color: #73ce1b;
	font-size: 18px
}

.f_b {
	color: #666;
	font-size: 18px
}

.f_c {
	color: #007aff;
	font-size: 18px
}

.f_d {
	color: #aaa;
	font-size: 18px
}

.m_l {
	margin-left: 30px
}

.w18 {
	width: 18px
}

.w21 {
	width: 21px
}

.f16 {
	font-size: 16px
}

.am-badge-primary {
	background-color: red
}

.f12 {
	font-size: 12px
}

.btnLogin {
	color: #333;
	font-weight: bold;
	font-size: 18px
}

.btnRT2 {
	margin-top: 6px;
	width: 55px;
	height: 35px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #73ce1b;
	color: #fff;
	font-size: 16px;
	line-height: 35px
}

.btnRT2_b {
	margin-top: 6px;
	width: 55px;
	height: 35px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #007aff;
	color: #fff;
	font-size: 16px;
	line-height: 35px
}

.btnRT2_y {
	margin-top: 6px;
	width: 55px;
	height: 35px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f4a300;
	color: #fff;
	font-size: 16px;
	line-height: 35px
}

.btnRT4_y {
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f4a300;
	color: #fff;
	font-size: 16px
}

.btnRT4_p {
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FF66D4;
	color: #fff;
	font-size: 16px
}

.btnRT4_g {
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #73ce1b;
	color: #fff;
	font-size: 16px
}

.btnRT2_h {
	margin: -2px 10px -2px 0;
	width: 70px;
	height: 32px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #73ce1b;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	pardding: 0
}

.btnRT2_hui {
	margin: -2px 10px -2px 0;
	width: 70px;
	height: 32px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #bbb;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	pardding: 0
}

.btnRT2_g1 {
	margin: -2px 10px -2px 0;
	padding: 0 15px;
	width: 60px;
	height: 32px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #73ce1b;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	pardding: 0
}

.btnRT2_h_r {
	margin: -2px 0 -2px 0;
	width: 50px;
	height: 32px;
	border: 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	background: #ccc;
	color: #fff;
	font-size: 16px;
	line-height: 32px;
	pardding: 0
}

.btnRT2_h_r2 {
	margin: -2px 0 -2px 0;
	width: 35px;
	height: 32px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #ddd;
	color: #fff;
	font-size: 16px;
	line-height: 32px;
	pardding: 0
}

.btnRT2_g {
	margin-top: 6px;
	width: 55px;
	height: 35px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #73ce1b;
	color: #fff;
	font-size: 16px;
	line-height: 35px
}

.btnRT2_w {
	margin-top: 6px;
	width: 55px;
	height: 35px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	color: #f25618;
	font-size: 13px;
	border-color:#333;
	line-height: 35px
}


.iconTitle {
	margin-left: -15px;
	color: #999;
	font-size: 16px
}

.btnSJ {
	margin: 0 0 10px 0;
	width: 55px;
	height: 35px;
	border: 0 none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #eee;
	color: #999;
	font-size: 16px;
	line-height: 10px
}

.nearinput {
	margin-right: 3px;
	width: 59px;
	border: 0;
	color: #f4a300;
	-webkit-appearance: none;
	text-algin: right
}

.classinput {
	margin-right: 3px;
	width: 76px;
	border: 0;
	color: #333;
	-webkit-appearance: none;
	text-algin: right
}

.timeinput {
	margin-right: -4px;
	width: 60px;
	border: 0;
	color: #333;
	-webkit-appearance: none
}

.timeinput_s {
	margin-right: -10px;
	width: 60px;
	border: 0;
	color: #666;
	-webkit-appearance: none
}

.dateinput_s {
	margin-right: -15px;
	width: 120px;
	border: 0;
	color: #666;
	-webkit-appearance: none
}

.dateinput_s1 {
	margin-right:-5px;
	float:right;
	width: 97px;
	border: 0;
	color: #666;
	-webkit-appearance: none
}

.valueinput {
	margin-right: -6px;
	margin-bottom: 2px;
	width: 150px;
	border: 0;
	color: #f4a300;
	text-align: right;
	-webkit-appearance: none
}

.valueinput_h {
	margin-right: -6px;
	margin-bottom: 2px;
	width: 40px;
	border: 0;
	color: #666; 
	text-align: right;
	-webkit-appearance: none
}

.valueinput_mj {
	margin-right: -6px;
	margin-bottom: 2px;
	width: 150px;
	border: 0;
	color: #666; 
	text-align: right;
	-webkit-appearance: none
}

.select_case{
	-webkit-appearance: none;
	border-color:#fff;
	margin-right: -6px;
	text-algin:right;	

}

.select_price{
	-webkit-appearance: none;
	border-color:#fff;
	margin-right: -6px;
	text-algin:right;	

}


.content {
	margin-left: -5px;
	width: 240px;
	border: 0;
	color: #666;
	line-height: 20px;
	-webkit-appearance: none
}

.title2_y {
	color: #f4a300;
	font-weight: normal;
	font-size: 13px
}

.title2_g {
	color: #666;
	font-weight: normal;
	font-size: 13px
}

.blur1 {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: url(blur.svg#blur);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	filter: blur(3px)
}

.tm {
	box-shadow: 0 0 3px #ccc;
	opacity: .9;
	filter: alpha(opacity=90)
}

.rd5_rb {
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0
}

.rd5_lb {
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px
}

.am-modal-btn1 {
	display: table-cell!important;
	overflow: hidden;
	box-sizing: border-box!important;
	padding: 0 5px;
	color: #0e90d2;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	font-size: 1.6rem;
	line-height: 44px;
	cursor: pointer
}

.classsel {
	margin-right: -6px;
	border: 0;
	color: #666;
	-webkit-appearance: none
}

.content_pub {
	margin-left: -5px;
	width: 100%;
	min-width: 200px;
	border: 0;
	color: #666;
	line-height: 20px;
	-webkit-appearance: none
}

.bottomline {
	box-shadow: inset 0 -1px 1px -1px #999
}

.content_memo {
	margin-left: -4px;
	width: 90%;
	border: 0;
	color: #666;
	-webkit-appearance: none
}

.pagination {
	margin: 20px 0
}

.pagination ul {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	*display: inline;
	*zoom: 1
}

.pagination ul>li {
	display: inline
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	border: 1px solid #ddd;
	background-color: #fff;
	text-decoration: none;
	line-height: 20px;
	border-left-width: 0
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {
	background-color: #f5f5f5
}

.pagination ul>.active>a,.pagination ul>.active>span {
	color: #999;
	cursor: default
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus {
	background-color: transparent;
	color: #999;
	cursor: default
}

.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	border-left-width: 1px
}

.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px
}

.pagination-centered {
	text-align: center
}

.pagination-right {
	text-align: right
}

.pagination-large ul>li>a,.pagination-large ul>li>span {
	padding: 11px 19px;
	font-size: 17.5px
}

.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span {
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px
}

.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px
}

.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span {
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px
}

.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px
}

.pagination-small ul>li>a,.pagination-small ul>li>span {
	padding: 2px 10px;
	font-size: 11.9px
}

.pagination-mini ul>li>a,.pagination-mini ul>li>span {
	padding: 0 6px;
	font-size: 10.5px
}

.pager {
	margin: 20px 0;
	list-style: none;
	text-align: center;
	*zoom: 1
}

.pager:before,.pager:after {
	display: table;
	content: "";
	line-height: 0
}

.pager:after {
	clear: both
}

.pager li {
	display: inline
}

.pager li>a,.pager li>span {
	display: inline-block;
	padding: 5px 14px;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff
}

.pager li>a:hover,.pager li>a:focus {
	background-color: #f5f5f5;
	text-decoration: none
}

.pager .next>a,.pager .next>span {
	float: right
}

.pager .previous>a,.pager .previous>span {
	float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
	background-color: #fff;
	color: #999;
	cursor: default
}

.btnnav {
	margin: 0;
	padding: 2px;
	border: 0 none;
	background: #fff;
	-webkit-appearance: none
}

.am-offcanvas-bar::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 1px;
	background: 0;
	content: ""
}

.am-offcanvas-bar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1091;
	overflow-y: auto;
	width: 230px;
	max-width: 100%;
	background: none repeat scroll 0 0 #fff;
	opacity: 0.95;
	transition: transform .3s ease-in-out 0s;
	transform: translateX(-100%);
	filter: alpha(opacity=95)
}

#pageMiddle {
	margin-bottom: 5px;
	padding: 15px 0;
	background: none repeat scroll 0 0 #fdfdfd
}

.container::before,.container::after {
	display: table;
	content: "";
	line-height: 0
}

.container::after {
	clear: both
}

.container::before,.container::after {
	display: table;
	content: "";
	line-height: 0
}

.container {
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container {
	width: 90%
}

ul.inline,ol.inline {
	margin-left: 0;
	list-style: outside none none
}

ul.inline>li,ol.inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px
}

#filterBox li a.activate {
	margin: -2px -4px;
	padding: 2px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f4a300;
	color: #fff;
	text-decoration: none;
	cursor: default
}

#selectedValue .span1 {
	color: #fff
}

input[placeholder],[placeholder],*[placeholder] {
	color: #333!important
}

::-webkit-input-placeholder {
	color: #333
}

.am-datepicker tr.am-datepicker-header {
	background: none repeat scroll 0 0 #efefef;
	color: #333;
	font-size: 1.6rem
}

.am-datepicker td.am-datepicker-old,.am-datepicker td.am-datepicker-new {
	color: #aaa
}

.am-datepicker .am-datepicker-dow {
	height: 40px;
	color: #73ce1b
}

.am-datepicker td.am-active {
	border-radius: 5px;
	background: none repeat scroll 0 0 #efefef;
	color: #73ce1b
}

.am-datepicker td.am-active:after {
	border-radius: 5px;
	background: 0;
	color: #73ce1b
}

.am-datepicker td.am-datepicker-day:hover {
	background: 0
}

.am-datepicker td.am-datepicker-day:after {
	background: 0
}

.am-datepicker-prev-icon:hover,.am-datepicker-next-icon:hover {
	border-radius: 5px;
	background: 0;
	color: #73ce1b
}

.am-datepicker-prev-icon:after,.am-datepicker-next-icon:after {
	border-radius: 5px;
	background: 0;
	color: #73ce1b
}

.am-datepicker table {
	margin-top: -4px;
	margin-bottom: 40px;
	width: 100%
}

.am-datepicker-select:hover {
	border-radius: 5px;
	background: 0;
	color: #73ce1b
}

.am-datepicker-select:after {
	border-radius: 5px;
	background: 0;
	color: #73ce1b
}

.am-datepicker td span.am-active {
	background: none repeat scroll 0 0 #f0f0f0;
	color: #73ce1b
}

.am-datepicker td.span-active:after {
	background: 0;
	color: #333
}

.am-datepicker td.span-active:hover {
	background: 0;
	color: #73ce1b
}

.am-datepicker td span.am-datepicker-old {
	background: 0;
	color: #73ce1b
}

.am-datepicker td span.am-datepicker-old:hover {
	background: 0;
	color: #73ce1b
}

.am-datepicker td span.am-datepicker-old:after {
	background: 0;
	color: #73ce1b
}
#mh{font-size:14px;}
/*#fresh{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;font-size:14px;color:#AAA}
#fresh:hover{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;font-size:14px;color:#f4a300;}*/

#fresh{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;width:100%;color:#AAA}
#fresh:active{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;color:#f4a300;width:100%}

#nihao{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;}
#nihao:hover{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;color:#f4a300;font-weight:bold}

#tuijian{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;}
#tuijian:hover{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;color:#f4a300;font-weight:bold}

#shijian{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;}
#tuijian:hover{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;color:#f4a300;font-weight:bold}

#jiage{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;}
#jiage:hover{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;color:#f4a300;font-weight:bold}

#koubei{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;}
#koubei:hover{-webkit-appearance: none;border:0 none;padding:0px;margin:-4px 0 0 0;color:#f4a300;font-weight:bold}

#pubu {
	margin:0 auto;
	position:relative;
}
#pubu .box {
	width:160px;
	height:auto;
	padding:5px 0 ;
	float:left;
}
#pubu .box .pic {
	width:160px;
	height:auto;
  
  
}
#pubu .box .pic img {
  display: block;
  width:150px;
  margin:0 auto;
  padding: 0;
  cursor: pointer;
  /*border-radius:3px;*/
}

.yuanjiao{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px	
}

.am-btn-sm {
    font-size: 13px;
}

.input-group-addon {
    background-color: #eee;
    color: #555;
    font-size: 18px;
    font-weight: 800;
		border-left :1px solid #e0e0e0;		
    padding: 6px 33px 6px 12px;
    text-align: center;
   	float:right;
   	margin:-41px 1px 0 0;
   	width:15px;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}